[2014-01-16 16:40] nadrees opened #1 "Better error messages for invalid queries."
During writing a sample, I made a mistake and used the following line to issue a query:

[code]

Note the missing 's around the account name. The correct line should be:

[code]

The exception message that comes back is:

[code]

Is there any way to provide a better error message, or the underlying exception message sent from Salesforce?

[2014-01-22 19:46] migueldeicaza opened #3 "Contradiction in the license file"
Hey guys,

While the license looks open-source-esque (this is yet to be fully determined), the second line of the license says "All rights reserved", which is in direct contradiction of the rights granted below.   Since this is part of the "Copyright notice" that is referenced on those conditions and the conditions do not actually state that the license needs to be distributed, the only thing a us

[2014-01-22 20:48] #3 closed, assigned to nobody

[2014-01-25 10:54] #1 closed, assigned to wadewegner

[2014-02-07 16:49] CodisRedding opened #6 "Allow HttpGetAsync() to page for more than 2k records at a time."
Currently HttpGetAsync utilizes the SF REST API that can only query up to 2k records. We could utilize pagination from that same call to retrieve all records for a query that are not limited to 2k and might have more than 2k records.

Here's an example taken from SF

You can execute a SOQL query that returns all the results in a single response, or if needed, returns part of the results and an
ide

[2014-02-10 12:02] simirajsp opened #7 "support for count() queries"
Currently QueryAsync is returning IList<T>. If I use "select count() from <object name>", It does not return any results. Is there any way to get record count with out getting entire result of query?

[2014-02-11 18:16] #7 closed, assigned to wadewegner

[2014-02-12 10:22] simirajsp opened #8 "Deserializing results from Parent to child query"
I am trying to use some polymorphic behavior for nested queries, but facing some issues in deserialized results.

Given below is minified object structure I am using.

public class sObject
{
string Id{get;set;}
}

public class QueryResult
{
public sObject[] records{get;set;}
}

public class Order:sObject
{
public DateTime Date{get;set;}
public QueryResult OrderItems__r {get;set;}
}

public class O

[2014-03-21 10:35] Bidou44 opened #12 "Username-Password Authentication Flow in sandbox"
Hello,
I tried to use the Username-Password Authentication Flow in a Console Application with my Salesforce sandbox but it doesn't work. Here is my code:

// Using Sandbox credentials
 var auth = new AuthenticationClient();
 await auth.UsernamePasswordAsync(ConsumerKey, ConsumerSecret, Username, Password, "ua", "https://test.salesforce.com/services/oauth2/token");

The error is: expired access/ref

[2014-03-21 10:38] Bidou44 opened #13 "Silverlight issue"
It doesn't work in a Silverlight application.

My code is:
// Using Production credentials
 var auth = new AuthenticationClient();
 await auth.UsernamePasswordAsync(ConsumerKey, ConsumerSecret, Username, Password);

Error message:
The 'User-Agent' header cannot be modified directly.

This may help in solving the issue: http://stackoverflow.com/questions/239725/cannot-set-some-http-headers-when-usi

[2014-03-30 04:54] jadkisson opened #18 "Error 413 - content too long"
While running a long migration script, I found that after a few hundred operations, I was getting a 413 error - content too long. I fired up Fiddler and looked at the data sent to Salesforce. The offending payload's Accept header had hundreds of application/json values in the Accept header. As I looked at the prior entries, it went like this:
Operation #1. Accept: application/json
Operation #2. Ac

[2014-04-03 19:05] #8 closed, assigned to nobody

[2014-04-10 09:16] VictorPascualV opened #19 "UpsertExternalAsync for new records using External ID not working"
Using upsert:

[code]

Return the following exception:

[code]

[2014-04-10 19:59] #18 closed, assigned to nobody

[2014-04-11 14:29] JasonRowe opened #21 "DeveloperForce.Force version 0.4.0 has old version of Salesforce.Force.dll"
Just wondering if an older version of the dll was used on purpose in the DeveloperForce.Force 0.4.0. I noticed this because the IForceClient is private now in the current version I pulled from Nuget.

Looking at the dll using IL Spy I do see an old version of the IForceClient.
![image](https://cloud.githubusercontent.com/assets/107477/2680684/72827154-c185-11e3-886d-684f4cf4634b.png)

One other ch

[2014-04-24 23:21] #13 closed, assigned to nobody

[2014-04-24 23:26] #21 closed, assigned to nobody

[2014-04-28 22:26] uztha4c opened #24 "Query a custom object with error..."
I am querying a custom object (tried both QueryByIdAsync and QueryAsync) and am constantly getting "sObject type '...__c' is not supported...". Should I be calling this a different way? See below for the code example...

My query code is simple:

[code]

or

[code]

Then:

[code]

[2014-04-29 00:53] #24 closed, assigned to nobody

[2014-04-30 15:31] wadewegner opened #25 "Create a QueryAll method"
Also thorough document the appropriate uses. Mention the Bulk API.

[2014-05-01 19:35] aaronhoffman opened #26 "UpsertExternalAsync method requires recordId"
It is possible I do not understand the SDK, however, it seems like a bug that the SalesForce.Force.ForceClient.UpsertExternalAsync() method requires a recordId parameter (and it can not be null or an empty string).

If I am inserting the record for the first time, I will not know the recordId. (assuming here that the "recordId" is the Id given to the record by SalesForce.)

[2014-05-05 23:38] #12 closed, assigned to nobody

[2014-05-05 23:40] #6 closed, assigned to wadewegner

[2014-05-06 00:43] #26 closed, assigned to nobody

[2014-05-06 21:52] lakeba opened #27 "Developer account login problem"
I'm trying to use your library with a Salesforce Developer account.
I can't login.

the code I am using is the following:

// Using Sandbox credentials
var auth = new AuthenticationClient();
await auth.UsernamePasswordAsync(ConsumerKey, ConsumerSecret, Username, Password, "ua", "https://test.salesforce.com/services/oauth2/token");

The error is: expired access/refresh token

Remark: The following

[2014-05-08 19:05] trainman opened #28 "Tokens can't be refreshed"
There is no way to refresh a token, but I see that feature is being developed:
https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/8f79b88d4ac61595611c1494ebaea08030ccb705

When will this code be pushed to Nuget?

[2014-05-13 21:44] foote-Greg opened #29 "UpsertExternalAsync doesn't return a value ?"
Would it be better if it returned the SF Id from the REST response that SF sends back instead of returning true ?

If the record is new, I will have to query again for the SF id which I need to do the rest of the updates that are related to a given sObject...

Thanks,
Greg

[2014-05-16 21:20] #27 closed, assigned to nobody

[2014-05-29 11:10] JayasreeR opened #31 "Not able to connect to Sales force"
Hi,
when I try to execute the code  "Force.com-Toolkit-for-NET / samples / SimpleConsole / Program.cs "
 I got an error at this line and my solution get exits from this line:

await auth.UsernamePasswordAsync(ConsumerKey, ConsumerSecret, Username, Password, ".net-api-client", url);

Following is the error msg I got:

An error occurred while sending the request.
   at System.Runtime.CompilerService

[2014-05-30 02:09] #28 closed, assigned to nobody

[2014-05-30 21:26] #31 closed, assigned to nobody

[2014-05-30 21:48] SteveLasker opened #33 "Visual Studio Tooling feedback for integrating Salesforce"
Hi,
We're seeking feedback for how developers are using Salesforce when building applications within Visual Studio and would like your help to improve your development experience.

Our initial feedback would be conducted through a 30-45 minute phone call to understand the type of development your doing and how your using Salesforce. We'd like to understand the type of apps your building (web, mobi

[2014-06-02 07:04] JayasreeR opened #34 "login with sales force"
Hi,
I am getting the below error while trying to login Salesforce.com through C#. Can you please help me to solve this issue.

Error:
  at Newtonsoft.Json.JsonSerializer.DeserializeInternal(JsonReader reader, Type
 objectType)
   at Newtonsoft.Json.JsonSerializer.Deserialize(JsonReader reader, Type objectT
ype)
   at Newtonsoft.Json.JsonConvert.DeserializeObject(String value, Type type, Jso
nSeria

[2014-06-10 10:10] ghost opened #35 ".Net 4.0 - Error compile - type or namespace name 'Salesforce' could not be found"
Hi,

Thanks for you work on the DevelopperForce Toolkit.
In the readme document, the framework .Net 4.0 seems compatible with the toolkit.
The goal of my application is to read from Salesforce a table (as Account). The server used to execute the batch is a Windows 2003-R2 operating system.
So, I need to compile my project in .Net 4.0 framework, but when I do it Visual Studio find an error.

Here,

[2014-06-16 00:08] lakeba opened #36 "WebServerOAuthFlow HTTP 400 Bad Request"
I am trying to use your WebServerOAuthFlow sample with my connected app.

Below my web.config file:

AuthorizationEndpointUrl" value="https://test.salesforce.com/services/oauth2/authorize"
ConsumerKey" value="XXXXX MY CONSUMER KEY XXXXXXXX"
ConsumerSecret" value="XXXXXXMY SECRETXXXXXXXX"
CallbackUrl" value="http://localhost:6054/api/callback"

The Authorization Endpoint Url is test because I am wo

[2014-06-17 18:04] tchadwick opened #37 "DescribeAsync Does not return object's field list"
When calling
var accountProperties = await client.DescribeAsync<object>("Account");
The fields are not included in the returned object, is this on purpose?

[2014-06-17 21:03] PMLavigne opened #38 "SOQL queries are not always escaped properly"
I am attempting to query for events with the word "Demo" in their type using the following query:

[code]

The query works fine in the Force.com Developer Console, but was returning nothing when I tried to submit it using ForceClient's QueryAsync in my program. I captured the network traffic being sent from the program to SalesForce and discovered the following:

[code]

More specifically,

[code]

[2014-06-18 22:33] #33 closed, assigned to nobody

[2014-06-18 22:36] #35 closed, assigned to nobody

[2014-06-18 22:37] #34 closed, assigned to nobody

[2014-06-20 06:26] JayasreeR opened #39 "Extracting data's of Custom Objects from SFDC"
Hi,
 I have to extract the data of custom objects created in SFDC..Is it possible to extract the data. If so Can you provide me some sample code??

Kindly help me to solve this issue.

[2014-06-25 18:27] tschock opened #41 "Insert/Update Document Object"
Does the Force.com-Toolkit support insert/update of the document object?  Also does it support querying document objects?

[2014-06-25 18:48] #41 closed, assigned to nobody

[2014-06-25 18:49] #37 closed, assigned to wadewegner

[2014-06-25 18:50] #39 closed, assigned to nobody

[2014-06-25 19:36] senylity opened #42 "Invalid parsing of subquery results"
I'm trying to do a count of child records. And while this is easy in SQL, Salesforce makes it pretty difficult.

I tried to go the subquery route:
<code>SELECT Id, Name, [other fields], (select ID from [ChildTable]__r) FROM [Parent Table]</code>

This results in JSON being returned in the sub select query:
<code>[{"Id":"a11i0000003oFwHAAU"}] </code>

First, I tried a string field for storing the r

[2014-06-30 17:08] d00001 opened #43 "ADFS authentication?"
Is it possible to authenticate to salesforce using ADFS? Salesforce is already setup for single signon.

[2014-07-01 04:14] JayasreeR opened #44 "Import Bulk Data to SFDC using .Net"
Hi,
Is it possible to load bulk data either from CSV file or from Database to SFDC through .net coding??
If possible can you help me to achieve this?

[2014-07-01 16:54] #43 closed, assigned to nobody

[2014-07-02 04:58] lakeba opened #45 "OAuth - Revoke Token"
Hi,
I am using your library successfully to integrate an MVC application with the SalesForce Oauth and to fetch data's.

I full used your sample code in WebServerOAuthFlow and all good.

My problem now is how to logoff and make sure the login page is showed again.

I thought that the revoke of the token was enough but not.

This the situation:
1. a user digit my website address, if not logged in t

[2014-07-02 05:47] #45 closed, assigned to nobody

[2014-07-02 17:49] #44 closed, assigned to nobody

[2014-07-11 19:06] swethamaramganti opened #46 "UpsertExternalAsync for existing records erases other values not being updated"
Using Upsert I have updated a couple of fields of an object. The Upsert works fine and updated the 2 fields i needed. But, it also erased all the other field values. Can you show a code example of how I can use UpdateAsync or UpsertExternalAsync to update just a certain fields without effecting the other fields. Here is the code that am using.
var addr = new Address { Bill62__Street_1__c = "222 Pa

[2014-07-29 15:46] #46 closed, assigned to nobody

[2014-07-29 15:47] #42 closed, assigned to nobody

[2014-07-29 18:21] #29 closed, assigned to wadewegner

[2014-07-29 18:38] wadewegner opened #47 "Rationalize DelegatingHandler use in UnitTest projects"
In `ForceToolkitForNet.UnitTests` we have two `DelegatingHandler` classes that operate in slightly different ways. We should refactor this so it's clearer and cleaner.

https://github.com/developerforce/Force.com-Toolkit-for-NET/blob/master/src/ForceToolkitForNet.UnitTests/FakeHttpRequestHandler.cs

https://github.com/developerforce/Force.com-Toolkit-for-NET/blob/master/src/ForceToolkitForNet.Unit

[2014-07-29 18:43] wadewegner opened #48 "Merge into a single solution & NuGet package"
Originally I designed Chatter & Force toolkits to use the Common Libraries for HTTP calls and common functionality. This was primarily because it was believed that someone using the Force Toolkit wouldn't necessarily want/need the Chatter toolkit. It's become a pain to update, however, as it requires updating the Common Libraries, packaging & publishing the NuGet, and then pulling the NuGets into

[2014-07-29 18:46] #19 closed, assigned to wadewegner

[2014-07-29 20:20] wadewegner opened #49 "New WebServerAsync overload"
Create an overload of `WebServerAsync` that accepts the `TokenRequestEndpointUrl` but doesn't request `UserAgent`.

Like this:

[code]

[2014-07-29 20:24] #36 closed, assigned to wadewegner

[2014-07-31 11:01] ghost opened #50 "Username-Password Authentication thows exception"
As the title says ... the exception i get is "expired access/refresh token"
and i simply call `await auth.UsernamePasswordAsync(_consumerKey, _consumerSecret, "xxxxx@xxx", "xxxxx", UserAgent, _tokenRequestEndpointUrl);`
as per the example.

Am i missing something ?

[2014-07-31 12:02] gartmeier opened #51 "Can't create Windows Store App package"
I can't create a Windows Store App package, because it fails the application certification with the following reasons:

Error Found: The debug configuration test detected the following errors:
- The binary Salesforce.Common.dll is built in debug mode.
- The binary Salesforce.Force.dll is built in debug mode.

I installed the latest version of the Force.com Toolkit through NuGet.

[2014-07-31 18:24] tschock opened #52 "Retrieve Attachment/Document content."
Is there a way to retrieve Attachment/Document content from a record? The article below shows how retrieve blob data: https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_sobject_blob_retrieve.htm

Is there a way to perform this using the Force.com Toolkit?

[2014-08-11 09:49] lschuste opened #53 "Signed version of Salesforce assemblies available?"
When I use the Saleforce.Force nuget package I get the following compile time errors:

Error   1   Assembly generation failed -- Referenced assembly 'Salesforce.Common' does not have a strong name
Error   2   Assembly generation failed -- Referenced assembly 'Salesforce.Force' does not have a strong name

That's because my assemblies are signed while the Salesforce assemblies are not.

Will there

[2014-08-13 00:51] #50 closed, assigned to nobody

[2014-08-13 00:53] #52 closed, assigned to nobody

[2014-08-13 19:30] tschock opened #54 "Child to Parent Joins"
Is there a way to allow this toolkit to working using child to parent joins (Right Joins)?  https://developer.salesforce.com/page/A_Deeper_look_at_SOQL_and_Relationship_Queries_on_Force.com

[2014-08-13 22:26] #48 closed, assigned to wadewegner

[2014-09-04 02:30] #53 closed, assigned to nobody

[2014-09-04 15:02] #54 closed, assigned to nobody

[2014-09-09 07:47] kirava opened #55 "Deadlock when calling AuthenticationClient.UsernamePasswordAsync"
Hi,

Thanks for you work on the Force Toolkit.
I get some calls made from an OWIN based app (+ WebAPI) to AuthenticationClient.UsernamePasswordAsync resulting in a deadlock since the .ConfigureAwait(false); seems to have been removed (commented) in this method.
I'm wondering why this configuration has been commented as this change is more likely to create deadlock if the code cannot get back to th

[2014-09-16 01:11] c4less opened #56 "Unable to login into salesforce with Console Application"
![image](https://cloud.githubusercontent.com/assets/4557657/4281265/eaaa128e-3d3d-11e4-861b-bb333ddad6af.png)

System.AggregateException was caught
  HResult=-2146233088
  Message=One or more errors occurred.
  Source=mscorlib
  StackTrace:
       at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
       at System.Threading.Tasks.Task.Wait(Int32 millisecondsTi

[2014-09-17 16:30] joshberube opened #57 "Deadlocking when calling UserInfo"
I have tried a few things, but often, when calling the UserInfo in a really simple way (jquery getdata, calling the api)

[code]

it blocks on the userinfo call. I do the same with queries and updates with no issue, but the UserInfo call is causing me a lot of trouble. I am not sure what is causing the deadlock or the issue, I get no errors, just a hung thread.

[2014-09-18 04:25] wadewegner opened #62 "Fix all the System.Net.Http references"
Every time the Microsoft.Net.Http version revs it breaks the .NET 4.5 class projects. This is because the latter are "hard coded" to use the NuGet's version of System.Net.Http to resolve Travis CI & Mono.NET builds.

There has to be a way to solve this issue.

[2014-09-18 04:39] #57 closed, assigned to wadewegner

[2014-09-18 04:44] #56 closed, assigned to nobody

[2014-09-18 05:22] #55 closed, assigned to nobody

[2014-09-21 12:54] c4less opened #67 "Unable to retrieve data from salesforce"
I tried with the sample provided in the link

![image](https://cloud.githubusercontent.com/assets/4557657/4348504/52ede9f2-418e-11e4-9730-d7112648f105.png)

But i got a new exception msg

System.AggregateException was unhandled
HResult=-2146233088
Message=One or more errors occurred.
Source=mscorlib
StackTrace:
at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions

[2014-09-21 13:07] c4less opened #68 "Unable to retrieve data from salesforce"
I tried with the sample provided in the link

![image](https://cloud.githubusercontent.com/assets/4557657/4348504/52ede9f2-418e-11e4-9730-d7112648f105.png)

But i got a new exception msg

System.AggregateException was unhandled
HResult=-2146233088
Message=One or more errors occurred.
Source=mscorlib
StackTrace:
at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions

[2014-09-21 15:03] #67 closed, assigned to nobody

[2014-09-22 23:40] wadewegner opened #70 "Get rid of all the useless UserAgent overloads"
I find it more and more annoying that there are so many UserAgent overloads flying around the toolkit. This is a remnant of when it was three different toolkit solutions. We should remove them and have them set only once to "forcedotcom-toolkit-dotnet" which is tracked and searchable in Splunk.

[2014-09-22 23:47] #68 closed, assigned to nobody

[2014-09-23 08:51] datwsui opened #71 "Is there any way to create a list of sobject with single API call?"
Is there any way to create a list of sobject with single API call? For example: if I want to create a list of opportunitylineitems, is there any function like createListAsync or have to loop the list to create every single item?

[2014-09-26 17:33] vyrotek opened #72 "Add support for GetUpdated & GetDeleted endpoints"
It looks like the REST API supports the GetUpdated & GetDeleted calls but they aren't implemented in the ForceClient. It would be greatly appreciated if this was exposed.

Here's the documentation for the two endpoints I'm referring to:
https://www.salesforce.com/us/developer/docs/api_rest/Content/resources_getupdated.htm
https://www.salesforce.com/us/developer/docs/api_rest/Content/resources_getd

[2014-10-07 16:03] Antaris opened #73 "CreateAsync Task not completing."
I'm using the DeveloperForce.Force package to integrate a custom view of support cases as an Extranet on a company website. I'm using the following code to add a comment:

[code]

But the `CreateAsync` method doesn't seem to want to complete. I can see in SalesForce that the comment has been added to the case though, but I'm unable to receive the `Id` of the comment so I can finish roundtripping m

[2014-10-24 19:15] xpressivecode opened #74 "Calling ForceClient.UserInfo returns 404 not found"
After we authenticate, we're receiving:

Status Code: 404
Reason Phrase: Not Found
And a message that we can see: "Internal_Error"

We call
AuthenticationClient.WebServerAsync
then
ForceClient.UserInfo

Using instantiated objects, not implying that we're using static method calls etc. I just didn't want to post the entire code block.

It's odd though as if we make the same call immediately after t

[2014-10-27 15:41] wadewegner opened #75 "Evaluate (and possibly move) to AppVeyor"
Too many issues with .NET CI/builds on Travis. Look into AppVeyor as a replacement.

[2014-10-27 15:54] wadewegner opened #76 "Update all samples & integrate into builds"

[2014-10-27 20:13] adestis-mb opened #77 "Signed version of Salesforce assemblies"
We would need signed assemblies of the toolkit because our application is signed and you can only reference signed assemblies from an assembly which itself is signed.
Do you think it would be possible to provide signed version of the toolkit in the near future ?

[2014-10-27 20:53] #74 closed, assigned to wadewegner

[2014-10-28 21:24] #77 closed, assigned to nobody

[2014-10-28 21:57] #73 closed, assigned to wadewegner

[2014-10-28 22:00] #71 closed, assigned to nobody

[2014-10-28 22:25] #62 closed, assigned to wadewegner

[2014-10-28 23:39] #51 closed, assigned to wadewegner

[2014-10-29 02:36] #70 closed, assigned to wadewegner

[2014-10-29 02:41] #38 closed, assigned to wadewegner

[2014-10-29 14:56] #75 closed, assigned to wadewegner

[2014-10-29 14:56] #49 closed, assigned to wadewegner

[2014-10-30 14:30] #72 closed, assigned to wadewegner

[2014-10-30 16:33] joshuaatkins opened #78 "Crashes App"
When executing;

[code]

My whole app just hangs and has to be terminated, I call this from within a async Task.

Can you shead some light on this?

[2014-11-01 02:53] #78 closed, assigned to nobody

[2014-11-01 03:15] #25 closed, assigned to wadewegner

[2014-11-05 03:22] wadewegner opened #80 "Add functionality to make sandbox environments easier to use"
One of the samples has the following:

    var url = IsSandboxUser.Equals("true", StringComparison.CurrentCultureIgnoreCase)
        ? "https://test.salesforce.com/services/oauth2/token"
        : "https://login.salesforce.com/services/oauth2/token";

We should add this logic into the SDK. It's not as if these URLs are going to change anytime soon.

[2014-11-05 05:25] #76 closed, assigned to wadewegner

[2014-11-10 21:10] lefthook123 opened #81 "The format of value 'https://login.salesforce.com/services/oauth2/token/v30.0' is invalid."
Hi, thank you for providing this toolkit.
I tried the code in a Console Application it worked well.
However, when I moved my code to an MVC application and ran the code through an Action method, it gives me error  "The format of value 'https://login.salesforce.com/services/oauth2/token/v30.0' is invalid.".

Do you know what's happening?  Thank you very much!

    public ActionResult AdvisorsMap()

[2014-11-13 14:58] luciazaliberova opened #82 "HttpStatusCode is missing in the ForceException and ForceAuthException"
In our application we are querying `Account` using following code:

			ForceClient client = new ForceClient(instanceUrl, accessToken, apiVersion);
			string query = "SELECT Id, Name, AccountNumber, ShippingAddress, BillingAddress, Phone FROM Account");

			try {
				QueryResult<Account> queryResults = await client.QueryAsync<Account>(query);
			}
			catch (ForceException exception)
			{
				throw

[2014-11-13 15:19] luciazaliberova opened #83 "Incorrect error handling in the AuthenticationClient.WebServerAsync"
To reproduce:

	tokenRequestEndpointUrl = "https://login.salesforce.com/services/oauth2/authorizeee"; // typo in the url
	await auth.WebServerAsync(consumerKey, consumerSecret, callbackUrl, authCode, tokenRequestEndpointUrl);

Inside `WebServerAsync` method the HTTP request returns html error page and therefore can't be deserialized into AuthErrorResponse type in the following code:

        publi

[2014-11-13 17:19] TThomasWelk opened #84 "Unable to create ChatterClient with auth after update"
This worked just fine until I updated via Nu-get yesterday.

The only difference is the userAgent is no longer required when creating the AuthenticationClient.

Please advise?

auth.APIVersion was 3.0 and is now 3.2

I tested old code on another developers PC and he can Create the client so Saleforce creds are still valid.

private async Task<bool> GetClientsAsync()
        {
            try

[2014-12-09 21:42] happytrails opened #85 "Parsing error when refresh token"
On build 0.6.4, get the following error when calling ForceClient.UserInfo.
Error message: Unexpected character encountered while parsing value: e. Path '', line 0, position 0.

Stack trace:
at Newtonsoft.Json.JsonTextReader.ParseValue()
at Newtonsoft.Json.JsonTextReader.ReadInternal()
at Newtonsoft.Json.JsonTextReader.Read()
at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.ReadForType

[2014-12-15 12:21] akoeplinger opened #86 "Feedback for Travis CI C# support"
Hey, I'm one of the contributors of the [Travis CI C# support](http://blog.travis-ci.com/2014-12-10-community-driven-language-support-comes-to-travis-ci/) and saw that you enabled it on your repository.

I'd be really interested to hear how your experience was. Is the [documentation](http://docs.travis-ci.com/user/languages/csharp/) easy to understand? Can we improve something? Did you encounter a

[2014-12-18 15:07] jicornelius opened #87 "IForceClient interface is missing the QueryContinuationAsync method."
I was trying to use the IForceClient interface but realized I could not get subsequent records using the QueryContinuationAsync method because the interface only includes the QueryAsync method.  I was forced to not use the interface and use the ForceClient class directly.

[2014-12-22 13:11] Prooskalia opened #88 "JSON parse error on long queries with QueryAsync"
In a long query (in my case, a large number of values in an IN criterion in the WHERE clause), the call to QueryAsync gives a JSON parse error.  In my test case the same ID (i.e. 001E0000014Zpov) was duplicated a number of times with comma separators and single-quote delimiters and included in the statement:

                             SELECT Id FROM Account WHERE Id IN (                  )

Wit

[2014-12-30 13:17] peranborkett opened #89 "Consider signing assemblies"
To improve nuget usability, currently you can not sign your own assemblies that reference the Salesforce dll's as the Salesforce dll's are not signed.

[2015-01-07 19:58] wadewegner commented on #87
I'll fix it. Thanks.

[2015-01-07 20:00] wadewegner commented on #89
I feel as if I've gotten enough feedback that this would be useful that we should figure out an easy way to do this. I will investigate.

[2015-01-08 02:46] Telarian opened #90 "Cannot update field."
I'm trying to update the "AccountSource" field on the Account object in Salesforce via the following code:
[code]
It gives me the following error: "No such column 'AccountSource' on sobject of type Account"

I know the field should exist. I can see it in Salesforce. I believe I have the name correct according to the documentation and what I see in the Salesforce setup.
I have also done a very simi

[2015-01-16 19:04] StanleyGoldman commented on #81
I'm currently seeing this error, what was wrong?

[2015-01-26 16:48] davidtwamley opened #93 "Queries with "+" fail. Salesforce wants them escaped to %2B"
Create a lead in Salesforce with email address forcetoolkit+issue@gmail.com and then run:

    string query = "SELECT id FROM Lead WHERE email = 'forcetoolkit+issue@gmail.com'";
    var result = client.QueryAsync<T>(query);

Zero results. Fiddler shows this REST call (I added wrapping):

    GET /services/data/v32.0/query?
    q=SELECT%20Id%20FROM%20Lead%20WHERE%20
    email%20=%20'forcetoolkit+is

[2015-01-26 20:09] wadewegner commented on #90
It's been awhile since I've used VB, so apologies for switching to C#.

The first time I run this I get the error `Salesforce.Common.ForceException : Required fields are missing: [Name]` given that the record doesn't exist already. So, I've modified the code slightly to include a `Name` in the `ExpandoObject`:

[code]
This runs as expected.

Here's the first response ...
[code]

... and the second

[2015-01-26 20:11] wadewegner commented on #86
Sorry for the delayed response, @akoeplinger.

Actually, not so well yet. Can you take a look and help me understand why this keeps failing? Looks like paths have changed or something?

[2015-01-26 20:30] wadewegner commented on #93
Great find, @davidtwamley! I have fixed in this commit: https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/0b33371684eb4ebf670dc25651bc5b350f2f2767.

I will create a new NuGet today (once I get a few more issues resolved).

[2015-01-26 20:32] #93 closed

[2015-01-26 20:37] wadewegner commented on #88
I just tried creating a quick test for this ...

[code]

... and in Fiddler see the following error back from the API:

[code]

Can you clarify or, better yet, share a code snippet that works in a clean Developer's Org? If necessary, write a method to create all 887 records ahead of time so we have a good test.

Thank you!

[2015-01-26 20:43] wadewegner commented on #87
Apologies for taking so long on this! Fixed here: https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/12d52616e22081ae06c3aac76e0bf3decb8817a0

Will release in next NuGet package.

[2015-01-26 20:43] #87 closed

[2015-01-26 20:56] wadewegner commented on #85
Here's a test I've put together to try and reproduce. Seems to work properly. Commit: https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/d243a5df30c268e88fd506577f77ef6a03f01921

Does this test cover your scenario?

Note: The following `UserInfo` unit test has existed for quite awhile and currently runs as expected: https://github.com/developerforce/Force.com-Toolkit-for-NET/blob/m

[2015-01-26 20:56] #85 closed

[2015-01-26 23:33] wadewegner commented on #87
I have packaged and pushed the update to DeveloperForce 0.6.5 - https://www.nuget.org/packages/DeveloperForce.Force/

[2015-01-26 23:34] wadewegner commented on #90
I have packaged and pushed the update to DeveloperForce 0.6.5 - https://www.nuget.org/packages/DeveloperForce.Force/

[2015-01-26 23:34] wadewegner commented on #93
I have packaged and pushed the update to DeveloperForce 0.6.5 - https://www.nuget.org/packages/DeveloperForce.Force/

[2015-01-27 15:23] wadewegner commented on #86
I was able to sort this out, @akoeplinger! Take a look.

[2015-01-27 15:23] #86 closed

[2015-01-27 15:24] wadewegner commented on #84
@TThomasWelk it looks like you resolved this. Additionally, all the unit tests are passing for the ChatterClient and I was able to test myself.

I'm going to close this. If any of you are having issues, can you please open a new issue and share explicit repro steps? Thank you!

[2015-01-27 15:24] #84 closed

[2015-01-27 15:30] akoeplinger commented on #86
Cool, looks fine :)

[2015-01-27 20:47] acccollin opened #94 "Force.com Toolkit for .NET class construct with QueryAsync when SQL query has a child/parent relationship"
I'm running the following query which contains a child => parent relationship between Case and Account - and contains the Account.Name in the SELECT:
        string query = "SELECT Case.CaseNumber,Case.Account.Name,Case.Status FROM Case WHERE Status != 'Closed' AND OwnerId IN (SELECT Id FROM User WHERE Email = '" + userEmail + "') ORDER BY Account.Name";
        var results = await client.QueryAsy

[2015-01-29 00:37] honeyhead opened #95 "How can i parse Account.Name?"
string query = "Select AccountId, Account.Name, Email, Phone, Name, Title, MobilePhone from Contact ";

this is my query . but i can't get Account.Name <- this is reference field & contain dot

how can i deserialize insert into      "public string AccountName { get; set; }" ???

[2015-01-29 05:03] Cyphtor commented on #95
Make another class for it to deserialize properly into or use a formula field to pull the account name.

[2015-01-29 12:49] wadewegner commented on #95
That's right. Create and `Account` and `Contact` class as @Cyphtor states. Then call `QueryAsync` as follows:

[code]

Hope that helps!

[2015-01-29 12:49] #95 closed

[2015-01-29 12:50] wadewegner commented on #95
In case it helps, here's a unit test I've added: https://github.com/developerforce/Force.com-Toolkit-for-NET/blob/master/src/ForceToolkitForNET.FunctionalTests/ForceClientTests.cs#L104

[2015-02-02 04:35] davidtwamley commented on #93
0.6.5 fixed it up nice. Thank you, sir.

[2015-02-03 18:03] wadewegner commented on #94
I'd recommend using `dynamic` first and capturing the response using Fiddler. Then go to http://json2csharp.com/ and paste the Json to create the appropriate class. Give it a try and let me know.

[2015-02-04 10:24] momerjaved opened #96 "ForceClient.CreateAsync() method never returns"
Hi,
I am getting an issue with CreateAsync method of ForceClient that the method call never returns back. It doesn't come back even with an exception. I have tried the same code in a console app and it is working fine but when I use it in my actual project it shows the behavior which I have just explained. It's quite difficult for me to be sharing the code because it has a span over multiple proje

[2015-02-09 22:05] Telarian commented on #90
Ya, I don't get it. It should work. It just doesn't.
![image](https://cloud.githubusercontent.com/assets/959980/6116798/e223ddbe-b06c-11e4-9627-c87f83efee50.png)

[2015-02-09 22:05] Telarian commented on #90
Ya, I don't get it. It should work. It just doesn't.
![image](https://cloud.githubusercontent.com/assets/959980/6116828/22a4d668-b06d-11e4-84da-0c528313f90b.png)

[2015-02-09 22:07] Telarian commented on #90
Do the exact same thing without the AccountSource field and it works fine.

[2015-02-20 20:14] estrehl opened #97 "Sample console app won't build"
The type or namespace name 'Salesforce' could not be found (are you missing a using directive or an assembly reference?)

This is after downloading from git, opening in VS2012, and restore/update the packages thru NuGet. References are there, packages appear to be downloaded...

Any thoughts as to why it would fail?

[2015-02-24 18:05] jeryanders commented on #96
I had this problem too. Just some things to check:
1. Make sure you have all the required fields populated.
2. Make sure the object make matches the Salesforce object name (Lead, Account, or the name of your custom object)
3. Make sure any field with types like Phone or Email match the pattern of a phone number or email address.
I hope that helps.

[2015-02-25 01:33] indimini opened #98 "Authentication against Salesforce Sandbox"
Hi, first of all, thanks for this library - it has been a huge help on a dev task I'm working on.

I am having issues trying to get username/pwd authentication to work against a Salesforce sandbox.  I tried in the sample projects to set IsSandbox to true in the app.config and it throws an exception.

I've also tried to authenticate with my connected app/user account information from my sandbox to

[2015-02-25 14:28] estrehl commented on #98
What is the exception you are getting? It sounds like perhaps the user acct is not completely authorized within the sandbox environment? I know there were a lot of additional roles/permissions I had to set up for my sandbox user acct in order to get authorization. Our permission set labels might be different, but we do have one titled "API access", for example.

Are you by chance trying the simple

[2015-02-25 14:36] indimini commented on #98
The exception was some kind of timeout error.  Somebody on our team rebuilt the sandbox last night and I am no longer getting the runtime exception.  It sounds like your hunch was correct re: user account roles/permissions.

I have been testing within the console example.  In my environment, after reconfiguring Nuget to refresh automatically, I just deleted my packages folder and rebuilt.  I did g

[2015-02-25 14:49] estrehl commented on #98
Cool; glad you are up and running. My issue not yet resolved, but maybe making progress. At least now getting warnings that the salesforce.common and salesforce.force interfaces are targeting/built with the wrong framework... "Ain't nothin' easy", I guess.

[2015-03-03 19:51] melih154 commented on #97
I have the same problem. VS displays below warning. I am using this package on project with .NET Framework 4.

Warning	27	The primary reference "Salesforce.Force" could not be resolved because it has an indirect dependency on the framework assembly "System.Text.Encoding, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" which could not be resolved in the currently targeted framewo

[2015-03-12 00:28] v50minasyan commented on #97
You are probably running issues with .Net 4.0 - since the API is using Async/Await , .Net 4.0 is not supported.
Switch to .net 4.5 and you should be able to build

[2015-03-12 00:55] v50minasyan opened #99 "How do we map salesforce object field names to our app?"
Dear SalesForce .Net community,
How does the API know what fields are mapped to what? using the field name as object name?

For example,

![image](https://cloud.githubusercontent.com/assets/9093447/6610070/5d9ee54e-c817-11e4-8935-070ca999c243.png)

Where Field Label is Transaction ID
and Field Name is Transaction_TxnID
do I simply do this:
Transaction_TxnID {get;set;}
and the API does the rest? Or

[2015-03-12 16:23] estrehl commented on #97
@v50minasyan : the project is already set to 4.5. As seen in melih154's post, the issue is that the salesforce.Force and Salesforce.Common included in the repository still apparently are built off the 4.0 framework, at least indirectly: the newtonsoft & threading stuff all seems to be pointed at 4.0. if I go back to the master src, still get issues with different bits or packages pointed at the wr

[2015-03-17 14:01] acccollin opened #100 "Assignment Rule Header - how to disable the default rule?"
Hello,

From the sample code below at https://www.salesforce.com/developer/docs/api/index_Left.htm#CSHID=sforce_api_objects_lead.htm|StartTopic=Content%2Fsforce_api_objects_lead.htm|SkinName=webhelp

It is possible to instantiate an AssignmentRuleHeader object and set useDefaultRule to true or false.

Is there any way to accomplish the same using the Toolkit for .NET?

// Create the assignment rul

[2015-03-17 16:03] acccollin commented on #100
Adding some additional info on the Assignment Rule Header, I would need to set the following:
Sforce-Auto-Assign: FALSE

From:
http://www.salesforce.com/us/developer/docs/api_rest/api_rest.pdf
Page 147

Any way to accomplish that via the Toolkit for .NET?

[2015-03-23 18:18] gregbair opened #102 "Demo site for WebServerOAuthFlow is offline"
In the README, the URL https://sfdcauth.cloudapp.net/ is given for a demo of this flow.  It does not exist.

[2015-03-29 00:15] v50minasyan opened #103 "How can I actually view documentation for this project?"
After spending several hours trying to understand where formal documentation for this project is, I can't find it. It's not in the wiki, it's not in the issues. Does it even exist? If it does, how do I get to it?
Or do I simply read the source code, and that's the only docs available?

This post asks the same questions:
https://developer.salesforce.com/forums/ForumsMain?id=906F0000000B0BeIAK

Are

[2015-04-15 16:49] tomajar commented on #97
Hi, I think the folder structure is a bit odd. I have an issue with build any sample ;)

There is no solution file(s) for the sample projects.  It could work just like that, but please note, that in the .csproj of the sample project the reference to the packages is like:

`..\..\src\packages\`

Because of this structure, the missing solution for sample project should be in the "\src\" folder (you

[2015-04-15 17:25] wadewegner commented on #97
Agreed. And if they don't it's a regression. I'll mark this as a bug.

[2015-04-16 07:15] tomajar commented on #102
I confirm this.

On https://github.com/developerforce/Force.com-Toolkit-for-NET/blob/master/README.md

There is a sentence:

If you will fix the sample sites builds - you can change the setence ;)

If you will fix the demo on cloud app - maybe add there some kind of version number or synchronize the depoly there with TeamCity build, so it will be always up-to-date.

[2015-04-16 07:51] tomajar commented on #100
The salesforce developer docs cannot handle with the direct links to topcis - what a fail :P If you enter first link, use search 'AssignmentRuleHeader' and select first item on the search results - you will find the sample code.

**What framework/library the salesfoce c# example is using?**

[code]

Back to the toolkit - I don't know yet what the 'Assigment Rule Header' is for, but Isn't the probl

[2015-04-17 09:10] tomajar opened #104 "Incorrect naming convention for serialized objects"
There are lot of DTO objects, for the json serialization that do not match proper naming convention like:
* should start with upper case
* no unerscroces in properties name

The example of such object is:
[code]

In my opinion it should be like:

[code]

There are lot of objects like this - in the library, tests and samples.

In my opinion it's worth fixing, even if it's a build breaking change fo

[2015-04-17 13:04] tomajar commented on #99
Hi @v50minasyan

Based on the doc: http://www.salesforce.com/us/developer/docs/fundamentals/salesforce_creating_on_demand_apps.pdf

a suffix (for example, Job_Description__c). This identifies it as a custom field

its merge field name, also called its API name. The format of the API name is typically the name of the field
but with underscores instead of spaces. For custom fields, the API name is s

[2015-04-18 18:11] wadewegner commented on #104
This is something I've wanted to address for awhile. I'll fix for our next major release.

[2015-04-18 18:12] wadewegner commented on #103
Right now there really isn't any documentation. The samples and the unit tests help quite a bit.

[2015-04-18 18:12] #103 closed

[2015-04-18 18:14] wadewegner commented on #102
Fixed. https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/f22db31e3d4ce9626fc3cdb9ba9435ac4225afaf

[2015-04-18 18:14] #102 closed

[2015-04-18 18:15] wadewegner commented on #100
That sample is likely working of proxy generated classes from the WSDL and SOAP endpoints.

There's nothing blocking you from doing something yourself. You could even look at the classes generated from the WSDL and use them as the basis for working with the toolkit (which largely uses the REST APIs).

[2015-04-18 18:15] #100 closed

[2015-04-18 18:16] wadewegner commented on #99
Thanks for answering, @tomajar!

[2015-04-18 18:16] #99 closed

[2015-04-18 18:17] wadewegner commented on #98
Looks like we had a regression with the samples in one of the last commits (https://github.com/developerforce/Force.com-Toolkit-for-NET/issues/97). I'll fix. Sounds like this particular issue is resolved.

[2015-04-18 18:17] #98 closed

[2015-04-18 18:18] wadewegner commented on #96
Let us know if this is still an issue.

[2015-04-18 18:18] #96 closed

[2015-04-18 18:18] wadewegner commented on #94
I assume this was fixed (or abandoned).

[2015-04-18 18:18] #94 closed

[2015-04-18 18:18] wadewegner commented on #81
Will look into it.

[2015-04-18 18:19] wadewegner commented on #88
If this is still an issue, please re-open with a repro. Thanks!

[2015-04-18 18:19] #88 closed

[2015-04-18 18:21] wadewegner commented on #90
Please use Fiddler and see what the response is that comes back. Confirm the data is in the response.

I'll close this for now but please open it if you still have the issue.

[2015-04-18 18:21] #90 closed

[2015-04-18 21:28] wadewegner opened #105 "IServiceClient.cs file named wrong"

[2015-04-18 21:34] wadewegner commented on #105
Fixed. https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/e9102329f2c4ce4751c88c2fbc5ef084869e0137

[2015-04-18 21:34] #105 closed

[2015-04-18 23:57] wadewegner commented on #104
It was a ton of work, but it's complete. https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/8ff9da7c3e686a376498298e2aab5435caa6d9a0

[2015-04-18 23:57] #104 closed

[2015-04-19 00:09] wadewegner commented on #97
I've fixed the samples here. https://github.com/developerforce/Force.com-Toolkit-for-NET/tree/master/samples

I also included a `build-samples.cmd` script [here](https://github.com/developerforce/Force.com-Toolkit-for-NET/blob/master/scripts/build-samples.cmd) to make it easier to ensure they're building.

[2015-04-19 00:09] #97 closed

[2015-04-19 21:07] v50minasyan commented on #103
After reading through the source code, we got up and running pretty well. Thanks for the project - it's been a real big help!

[2015-04-19 21:10] v50minasyan commented on #99
This is pretty cool: - thanks tomajar
  fields = string.Join(", ", typeof(T).GetRuntimeProperties().Select(p => p.Name));
Also, I found the SalesForce developer console to be a big help. When I click browse object there it gives the exact name I was looking for.

[2015-04-20 01:52] wadewegner commented on #103
Glad to hear it!

[2015-04-20 01:53] wadewegner commented on #99
Excellent.

[2015-04-20 06:38] tomajar opened #106 "Cleanup ServiceHttpClient responsibilities for querying objects"
Hi @wadewegner

In my opinion, the class

[code]

Should have only the ability to raw communication, providing handy http methods, that takes object an some kind of form of urlSuffix.

So.. please remove method:

[code]

It has wrong *responsibility* that doesn't match this class
* it appends the url with the *query/{0}* suffix
* it iterates over result items: *(jObject.GetValue("nextRecordsUrl")*

[2015-04-20 06:42] tomajar opened #107 "IForceClient dispose method"
Hi @wadewegner

I'm just wondering..

[code]

Do you need your own dispose definition in here?

Can't it look like this?

[code]

[2015-04-20 16:01] tomajar commented on #80
Hi @wadewegner

You can use constructor chain, to construct authentication client with proper endpoint url; the code:

[code]

[2015-04-21 08:04] tomajar opened #108 "Add an option to retrieve IServiceHttpClient from IForceClient"
Hi @wadewegner

Currently, there is no way, to operate (GET, POST, etc.) on any resource based on retrieved link with ForceClient.

I want to write some self-discovery logic.  How to access resources by url that I don't know at runtime?

[code]

I was thinking on a scenrio, to provide acccess to the raw http client interface:

[code]

Since it is a toolkit, it should allow to use raw http methods

[2015-04-21 12:35] tomajar commented on #107
The same question applies to:

[code]
Maybe there are more interfaces like that.  I see the same in IServiceHttpClient.

Compare things like this:

[code]

I'm not sure should the dispose method be in your main interfaces or not, but if it does, it should be inherited from IDisposable - do you agree?

[2015-04-21 14:29] wadewegner commented on #107
Good spotting. The `Dispose` methods used to be used before significant refactoring last year (where we let you inject the `HttpClient`). Looks like this wasn't cleaned up. We'll address it.

[2015-04-21 14:30] wadewegner commented on #106
I hear you. Let me noodle on it a bit. Thank you!

[2015-04-21 14:30] wadewegner commented on #108
It's an interesting idea! I like it. We'll review and consider. Thank you!

[2015-04-29 14:11] willemmulder opened #109 "Extra samples, regarding upserting with external IDs in Lookups"
I'd love to see extra examples with upserts.

Specifically with using external ids on the upserted record, AND using an external Id for a related record in a lookup field on the upserted record.

Could that be done?

[2015-04-30 15:31] tomajar opened #110 "Missing issued_at and signature during login"
Hi @wadewegner

Everyone somtimes wonder, when AccessToken expires.

Now I've found this: [https://www.salesforce.com/us/developer/docs/api_rest/Content/intro_understanding_refresh_token_oauth.htm]

Can you please add new properties to AuthenticationClient and fill them up?

I think that the workflow like:
* session will expire in 2h*
* I'll re-login in after about 1h 55m
* get new token for 2h*

[2015-04-30 15:33] bhardister opened #111 "SOQL Like Operator Leading Wildcard % Fails on Integer"
When the string searched for in the query starts with a number, this fails to return the correct result:
<b>var test = await client.QueryAsync<TFSCase>("SELECT Id, CaseNumber, TFS__c FROM Case WHERE TFS__c LIKE '%12364Test%'");</b>
The same query from the SF developer console query panel works:
<b>SELECT Id, CaseNumber, TFS__c, TFS_Status__c, Type__c FROM Case WHERE TFS__c LIKE '%12364Test%'</b>
I

[2015-04-30 18:39] tomajar commented on #111
Hi @bhardister

The problem is probably with url encoding. Some characters needs to be encoded before send in query string, otherwise, they will be miss-interpreted.

In code I can see

[code]

The EscapeDataString changes characters like "~/^" to proper
[http://stackoverflow.com/questions/26309731/why-does-uri-escapedatastring-return-a-different-result-on-my-ci-server-compared]

But the problem i

[2015-04-30 21:22] jhorst11 opened #112 "HttpGetAsync functions return cached results when run on Windows Phone 8.1"
Windows phone does auto caching if it detects the same network call more than once. So executing the same SOQL query will return cached results even if there was a change on the server side.

Adding the following before calls when running on Windows Phone fixes this:

request.Headers.IfModifiedSince = new DateTimeOffset(DateTime.Now);

[2015-05-01 10:07] tomajar commented on #111
One more thought @bhardister,

please test this:

[code]

In theory, this should work in your case too, but it's very ugly, and cannot be considered as library fix.

[2015-05-04 17:37] saramorgan opened #113 "HardCoded APIVersion set to version 32 in AuthenticationClient.cs"
I am working on code for the DEV502 class and part of the exercise we use, returns the API version of the authenticated client and displays it to the console. I happened to notice in some recent testing that the version passed back was 32 and not 34 as it should be currently. In a search of the code in this repository, I found the following code in src/commonLibrariesForNET/AuthenticationClient.cs

[2015-05-04 19:06] wadewegner commented on #113
Thanks @saramorgan! This is indeed purposeful. The SDK is designed to make it easy for you to change the API version yourself programmatically but defaults to the last knowing working API version. That's not to say it won't work with v34, only we haven't tested it. Hope this helps!

[2015-05-04 19:06] #113 closed

[2015-05-04 19:17] saramorgan commented on #113
AH, that makes sense and we can make sure the students are aware of this. THANKS for getting back to me so quickly, btw. I am way impressed by you....:-)All the best,SaraOn May 4, 2015 at 3:06 PM Wade Wegner <notifications@github.com> wrote:Thanks @saramorgan! This is indeed purposeful. The SDK is designed to make it easy for you to change the API version yourself programmatically but defaults to

[2015-05-05 14:10] saramorgan commented on #113
FYI. In case anyone else encounters this issue and wonders how to set the APIVersion and whether it will work with API version 34, I have tested and it will (at least testing with the simple console app). Setting the version is dead simple too (just pass in the version after authenticating when you create an instance of the ForceClient. Like this:

var client = new ForceClient(auth.InstanceUrl, au

[2015-05-05 16:30] dcarroll commented on #110
Because you can't know when the token will expire, the recommended pattern
is to "handle" the expired token as an expected exception, refresh the
token (either using the refresh token, or re-doing the username password
auth) and then retry the operation that was in flight when the expired
token was discovered.  Other approaches will result in more problems than
solutions.

On Thu, Apr 30, 2015 at

[2015-05-05 16:31] dcarroll commented on #109
Hi Willem, will definitely take a look at adding more samples.

On Wed, Apr 29, 2015 at 7:11 AM, Willem Mulder <notifications@github.com>
wrote:

--
Thanks,
Dave

[2015-05-05 16:36] wadewegner commented on #109
There are a lot of examples in the functional tests: https://github.com/developerforce/Force.com-Toolkit-for-NET/blob/master/src/ForceToolkitForNET.FunctionalTests/ForceClientTests.cs#L443

[2015-05-06 07:49] willemmulder commented on #109
@dcarroll Thanks!

Just a simple example would already be great, so people don't have to go into the test files to see whether/how upsert is supported.

A quick questions: is using an external Id for a related record in a lookup field on the upserted record supported?

I.e. what's usually possible (pseudo-code)

someContact.Account = new Account(External_id = 1234);
upsert someContact;

And then t

[2015-05-19 13:04] sofietkindt opened #115 "Error with authentication"
Hi,

I have tried to authenticate with Salesforce in .NET first in a MVC app, then in a simple console application, but it just doesn't work. I always get this error "An unhandled exception of type 'System.AggregateException' occurred in mscorlib.dll" when calling UsernamePasswordAsync:

var auth = new AuthenticationClient();
await auth.UsernamePasswordAsync(clientId, clientSecret, username, passw

[2015-05-24 19:49] Telarian commented on #90
Turned out the field was marked as not accessible even by system administrators. That was just not something I realized could have been a problem. I do now.

Thanks for all your patience and help.

[2015-06-02 10:56] pousta opened #116 "Formatting URL for refresh token"
Hi,
I recently upgrade your package to version 1.0.0 from NuGet. I believe there is a bug when you format url for refresh token request.

This is the request as captured by fiddler:
/services/oauth2/token?grant_type=RefreshToken&client_id={clientId}&RefreshToken={refreshToken}

I believe that value of grant_type parameter should be "refresh_token" instead of RefreshToken and also parameter name "R

[2015-06-05 17:54] brooksyott commented on #116
I've experienced the same issue. I made the following change to have the refresh tokens working again:

In Common.cs

        public static string FormatRefreshTokenUrl(
            string tokenRefreshUrl,
            string clientId,
            string refreshToken,
            string clientSecret = "")
        {
            if (tokenRefreshUrl == null) throw new ArgumentNullException("tokenRefre

[2015-06-15 23:04] wadewegner opened #118 "Issue with build"
@dcarroll it looks like there may be something wrong with your setup - let's fix it, as it caused one of the automated builds to fail.

[2015-06-15 23:30] dcarroll commented on #118
This should have been in a new branch

On Mon, Jun 15, 2015 at 4:04 PM, Wade Wegner <notifications@github.com>
wrote:

--
Thanks,
Dave

[2015-06-15 23:32] dcarroll commented on #118
I commited to a new branch.  How does that muck the master?

[2015-06-15 23:38] wadewegner commented on #118
Looks like it causes the CI services to fire. I'll look into it. Thanks!

[2015-06-23 20:06] wadewegner opened #119 "Change chatter group feed unit test"
Commit: https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/1bfc55403b81c6f29be67bc245539002d01edef4

I understand the intention here. I probably wrote the test poorly - I'd resolve the failed unit test by creating feed data on a group in the developer org used for testing. The problem is that this will almost never get tested, as there aren't groups nor feeds in the groups by defau

[2015-06-23 20:12] #118 closed

[2015-06-23 20:12] wadewegner commented on #118
Working.

[2015-06-23 20:13] wadewegner commented on #116
This was fixed: https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/0d2ce7cd9897572fc831b6101edbbbee5de88f20. In the process of pushing updates to NuGet.

[2015-06-23 20:13] #116 closed

[2015-06-23 20:14] wadewegner commented on #115
Take a look at the details in your `AggregateException`. http://codeblog.jonskeet.uk/2011/06/22/eduasync-part-11-more-sophisticated-but-lossy-exception-handling/

[2015-06-23 20:15] wadewegner commented on #115
Going to close. If you find additional information to share, please feel free to re-open.

[2015-06-23 20:15] #115 closed

[2015-06-23 20:16] wadewegner commented on #110
Closing. If there's anything actionable, please feel free to re-open with more details.

[2015-06-23 20:16] #110 closed

[2015-06-23 20:54] devangel commented on #119
Sounds reasonable. A bigger problem is having the credentials to the org in test code.  Anyone could wack the feed the group and just about anything else.  Having said that, I don't think there is a good way to have a secure testing org where the credentials are protected.

[2015-06-28 02:51] tmowbrey opened #120 "QueryAsync Expects a Type"
When completing the following statement:

var result = await client.QueryAsync(queryString);

I am receiving the following error: The type arguments for method "Salesforce.Force.ForceClientAsync<T>(string)" cannot be inferred from the usage. Try specifying the type arguments explicitly.

I was hoping that I could dynamically query without specifying a type much like I can do with native Apex and r

[2015-06-28 16:54] tmowbrey commented on #120
Nevermind, got this figured out. Needed to use the dynamic keyword. Ended up with code looking like the following:

var queryString = queryInput.Text;
var results = await client.QueryAsync<dynamic>(queryString);
foreach(dynamic obj in (dynamic)results)
{
messageBox.Text = obj;
}

[2015-06-28 16:54] #120 closed

[2015-06-28 21:16] pousta commented on #120
I think this would work too:
var results = await client.QueryAsync<dynamic>(queryString);

[2015-06-28 21:48] tmowbrey commented on #120
Thanks for the update but unfortunately, as my original comment outlined, that statement does not work. I'm using the toolkit in a windows app which may be the issue, I'm not sure, but QueryAsync requires a type.

[2015-07-08 18:19] Telarian opened #122 "Need some help troubleshooting an error I'm getting when using the toolkit."
I'm getting the following error when using the toolkit:
[code]

I'm not real sure why it would be trying to convert that string to an error response, so I'm not sure where to begin troubleshooting.

The code that's throwing the error is pretty simple:
[code]

t is a simple expando object that has been filled out to match the salesforce object we are upserting.
The upsert seems to have been complet

[2015-07-10 09:50] andyunsarcus opened #123 "Could not load type UserInfo"
I have a project which uses the toolkit to authenticate with Salesforce. It works fine locally but when I deploy to a server I get an error from the below code :

Task<Salesforce.Common.Models.UserInfo> getUserTask = Task.Run(() => client.UserInfo<Salesforce.Common.Models.UserInfo>(userURl));
                getUserTask.Wait();

The errors are below :

System.AggregateException: One or more errors

[2015-07-13 20:59] shankararunachalam opened #124 "Custom field with Integer data type"
In salesforce, if we need a custom field that needs to behave like an integer, the only way AFAIK is to create a Number(10,0) field. Now, if we use the toolkit to fetch a record with this field, and if our client-side object is set to be an integer, the fetch fails with an exception ""Input string '0.0' is not a valid integer", since Salesforce still returns a value with a decimal point.

The only

[2015-07-17 14:58] natelowry opened #125 "Better Url formatting"
I spent a couple hours trying to debug an issue with any API call which ended up being caused by passing the trailing `/` in my `instanceUrl`.  It created a double `/` in my request Url which broke everything :/
`https://na31.salesforce.com//services/data/v29.0/query?q=...`

This could be avoided by using the `Uri` constructor instead of just `string.Format` like this:
[code]

If anyone else has r

[2015-07-18 03:15] shankararunachalam commented on #124
I ended up handling this by writing a custom JSON converter for Ints and decorating the object with that as an attribute. If anyone is interested in the approach, the converter is as below:

    public class Int32JsonConverter : JsonConverter
    {
        public override object ReadJson(
            JsonReader reader,
            Type objectType,
            object existingValue,
            Json

[2015-07-18 03:16] #124 closed

[2015-07-26 11:13] sushantjadhav21 opened #129 "Latest REST API version support"
I guess the latest chatter REST API version is "v34.0" and .NET SDK is still using targeting the "v30.0". I am just checking when you are planning to update the .NET SDK to support the latest version of Chatter REST API.

[2015-07-26 14:35] saramorgan commented on #129
Hi,

The Api version is set by default to 30, but you can change it yourself to the latest version very easily. Check out this post which I did about the issue.  http://saramorgan.net/2015/05/05/heads-up-how-to-set-the-api-version-using-the-force-com-toolkit-for-net/

[2015-07-29 01:06] jneavegit opened #130 "Calling custom REST services"
We can't get the toolkit working with a custom REST service we have. It seems to be building the URL incorrectly. The service is named "GetDirectDebitTransactions". Some details:

The code snippet:

using (var eftTypesTask = sfConnector.ExecuteRestApi<Transaction>("GetDirectDebitTransactions", "?StartDate=01/05/2015&EndDate=30/06/2015"))

Instead of going to this address: https://cs6.salesforce.co

[2015-07-29 07:27] Krizzzn opened #132 "Consider unifying return values of CreateAsync and UpdateAsync"
For the next set of breaking changes I'd like to propose that `CreateAsync` and `UpdateAsync` both should return a `SuccessResponse` instead of `string` and `SuccessResponse`.

If the idea gets accepted I could provide a pull request.

[2015-08-12 13:32] pawepaw opened #133 "Use Force toolkit as salesforce api client"
I've faced some problems using your nuget. I got error
```The type 'System.Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Runtime ```

I understand that if i created dll with salesforce api client using your nuget I have to reference:
 ``` <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />```

In all projects that include

[2015-08-12 13:41] wadewegner commented on #133
Can you provide a way to reproduce the behavior we can test? My guess is you have a mismatch of assemblies referenced.

[2015-08-12 14:11] pawepaw commented on #133
I can try to provide something. But from http://blogs.msdn.com/b/bclteam/archive/2013/04/17/microsoft-bcl-async-is-now-stable.aspx documentation i see that i have to reference in every project to make it working and i see that you include it in every sample and test application.

[2015-08-13 09:49] pawepaw commented on #133
I can reproduce it only on my build server (teamcity). On local machine it works fine. I have microsoft.bcl packages referenced in project but still get this error. Is it possible that I am missing some sdk or something on my build server?

[2015-08-13 10:18] peranborkett commented on #133
Have you tried referencing the 'Facade' dll

C:\Program Files (x86)\Reference
Assemblies\Microsoft\Framework\.NETFramework\v4.5\Facades\System.ObjectModel.dll

Change the path to suit the your version of the framework.

Regards

Peran

On 13 August 2015 at 10:49, pawepaw <notifications@github.com> wrote:

[2015-08-25 00:40] wadewegner commented on #133
I'm going to close this issue. If you can provide more details or a sample we can use to better diagnose, please feel free to re-open.

[2015-08-25 00:40] #133 closed

[2015-08-25 00:44] wadewegner commented on #132
Geez. Great point. I don't know why I originally built `CreateAsync` to only return the `Id` string. I will take a look at resolving.

[2015-08-25 00:53] wadewegner commented on #132
I have committed a fix. https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/f0873750aef2f704b868eb8b3c216027be98d6f8

Although minor, it is a breaking change. We'll have to think through the strategy for release.

[2015-08-25 00:53] #132 closed

[2015-08-25 00:54] wadewegner commented on #129
Some of the latest commits by @dcarroll have updated to v34. We'll have this updated in the next release of the NuGet.

[2015-08-25 00:54] #129 closed

[2015-08-25 21:09] wadewegner commented on #53
For what it's worth, I was convinced this was needed and added am now signing the assemblies with a strong name key: https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/3b15bd5a5df3095884e3edff4f099645a331e013

[2015-08-25 21:22] wadewegner commented on #125
Would greatly appreciate a pull request! Would you first add a failing test and confirm your change fixes. Thanks!

[2015-08-25 21:25] wadewegner commented on #123
No idea. Is there a reason you're executing it this way? Perhaps something about your server and the way it's executing Task?

Let us know if this is still an issue. Ideally detailed steps on how to reproduce it. Thanks!

[2015-08-25 21:26] wadewegner commented on #122
Can you use Fiddler and capture a trace to share?

[2015-08-25 21:27] wadewegner commented on #119
2FA on the creds. So far no problems. =)

It is actually possible with both of the CI services. I just haven't had any need (yet) to enable.

[2015-08-25 21:28] wadewegner commented on #112
Good to know. Did you want to submit a pull request with this addition?

Anyone see any reason why adding this globally would be problematic?

[2015-08-25 21:39] dcarroll commented on #119
So, you added 2FA to the test user?

[2015-08-25 21:41] wadewegner commented on #111
What do you think of this solution?

[code]

I could update the code accordingly.

[2015-08-25 21:44] dcarroll commented on #111
Why GetBytes, then GetString?

On Tue, Aug 25, 2015 at 2:41 PM, Wade Wegner <notifications@github.com>
wrote:

[2015-08-25 22:00] wadewegner commented on #111
Incidentally, while trying to write a unit test, I used the following:

[code]

And it seems to work just fine. I don't have your case data to test with. @bhardister can you please review and see if there's something else at play?

[2015-08-25 22:07] wadewegner commented on #119
It's been that way since the very beginning.

[2015-08-25 22:44] wadewegner commented on #81
Not able to reproduce.

[2015-08-25 22:44] #81 closed

[2015-08-26 08:34] andyunsarcus commented on #123
You've taken such a long time to reply, that I've rewritten the code to work a different way.

[2015-08-26 09:27] tomajar commented on #111
Hi @wadewegner

I've no time to look at this now, but please review all your tests.. you cannot use:

[code]

it will never fail, because you don't wait for async result. I think that your tests are just not working.

please review all your tests and fix like this:

[code]

just wait for the '.Result' in the tests when executing async.

:)

[2015-08-26 09:33] tomajar commented on #112
In theory - adding this globally would never return data. Since my client implementation does not have cache like Windows Phone, I would never see old data?

Maybe it would be better to expose somehow http request, because now there is only http client injected in constructor?

that's my guess.

[2015-08-26 15:14] wadewegner commented on #111
Your second example is not compilable. You cannot await while synchronously blocking for result.

The unit tests function just fine and definitely fail if not working.

[2015-08-26 16:25] wadewegner commented on #111
I highly recommending reading this article: <https://msdn.microsoft.com/en-us/magazine/Dn818493.aspx>

A key point from it: "To test an asynchronous method’s behavior, you must observe the task it returns. The best way to do this is to await the task returned from the method under test." The functional/unit tests do in fact await the task returned.

I'd also recommend reading this response from St

[2015-08-26 20:51] wadewegner commented on #130
This has been fixed as part of this pull request: https://github.com/developerforce/Force.com-Toolkit-for-NET/pull/131

It should make it into the next NuGet package.

[2015-08-26 20:52] #130 closed

[2015-08-26 20:58] saramorgan commented on #130
Wade,Do you know when the next NuGet package is scheduled to be released? I was going to do a post about it and highlight some of the bigger fixes/enhancements from this latest round you have been on. And on behalf of Salesforce Developers, thank you for all you have done to support this release.Best,SaraOn August 26, 2015 at 3:51 PM Wade Wegner <notifications@github.com> wrote:This has been fixed

[2015-08-26 21:00] wadewegner commented on #130
I'm training @dcarroll on how to publish <grin> and he's agreed to publish next. Dave, think you could do this today and publish as 1.1.1?

[2015-08-26 21:01] dcarroll commented on #130
easy peasy, is everything we want in there in there?

On Wed, Aug 26, 2015 at 2:00 PM, Wade Wegner <notifications@github.com>
wrote:

--
Thanks,
Dave

[2015-08-26 21:14] wadewegner commented on #130
I'd like to get https://github.com/developerforce/Force.com-Toolkit-for-NET/pull/121 in there too. Let's make a call later today.

[2015-08-26 21:15] dcarroll commented on #130
Ok, if that's the case, tomorrow is when I can push to nuget.

On Wed, Aug 26, 2015 at 2:14 PM, Wade Wegner <notifications@github.com>
wrote:

--
Thanks,
Dave

[2015-08-27 01:31] bluephlame commented on #130
I"m not sure if this is intentional but the nuGet package that was published yesterday did not have the most up todate DLL in it. Are you still looking at doing another push up to nuGet.

[2015-08-27 02:15] wadewegner commented on #130
The repo always will be slightly ahead of the NuGet. What specifically do you see missing?

(I'm not by a PC to easily check. I tested last night but it's possible I missed something. Hope not!)

[2015-08-27 03:25] nloding opened #138 "Deserialization when using Address type"
I am trying to insert a new Person Account. The insertion works except for the Mailing Address field (PersonMailingAddress), which generates the following exception:

`{"Cannot deserialize instance of PersonMailingAddress from VALUE_STRING value Royal Oak at [line:1, column:113]"}`

`PersonMailingAddress` is a property on my model that I'm inserting. "Royal Oak" is the value of the city field. I'v

[2015-08-27 04:29] bluephlame commented on #130
IT appears that Nuget Package v1.1.0 only has the DLL version 1.0.0 so it is missing all the recent changes. including #131 Which is the one we need.

[2015-08-27 17:39] wadewegner commented on #130
The assembly will *always* stay version 1.0.0 so we never force people to deal with assembly binding redirects.

I haven't pushed an update to NuGet since committing the changes you reference. We can do that today.

[2015-08-27 19:41] nloding commented on #138
Found my answer in a SFDC forum. Thanks!

http://salesforce.stackexchange.com/a/89565/24243

[2015-08-27 19:41] #138 closed

[2015-08-27 20:08] dcarroll commented on #138
I had an inkling there was some special handling on the SFDC side for
person acccounts.

:-)

On Thu, Aug 27, 2015 at 12:41 PM, Nathan Loding <notifications@github.com>
wrote:

--
Thanks,
Dave

[2015-08-27 23:36] wadewegner commented on #130
@dcarroll just pushed 1.1.1 with these updates. @bluephlame please give it a try!

[2015-08-28 20:04] #123 closed

[2015-08-28 20:04] wadewegner commented on #111
I'm going to close this as norepro for now. Please re-open if appropriate.

[2015-08-28 20:04] #111 closed

[2015-08-28 20:05] wadewegner commented on #122
I'm going to close. If this is still a problem, please feel free to re-open. Thanks!

[2015-08-28 20:05] #122 closed

[2015-08-28 20:38] wadewegner commented on #125
Done! Thanks for the suggestion. I updated to actually return the `Uri` instead of string and made updates accordingly.

[2015-08-28 20:38] #125 closed

[2015-08-28 20:39] wadewegner commented on #125
Here are the commits: https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/8599322dc85663c16a869e7aec09b6e469edf415 & https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/c9c54b715073c2e9291c8b395afe75d3aee8850a

[2015-08-28 20:43] Telarian commented on #122
Thank you Wade. I thought I had already closed this. Sorry to have left it open on you.

[2015-09-03 02:46] meenanarendra opened #139 "Unable to Login from Windows Emulator and Windows Phone"
Hi,

We are able to login to RHPlay and SIT2 environment, when we run UsernamePasswordAsync method from console application. We have used the similar implementation for Xamarin application that is running on windows Emulator or windows phone. The same code gives error as shown in below snapshot.
![image](https://cloud.githubusercontent.com/assets/7714896/9649495/5fb41646-51bb-11e5-9540-01d671d5ff9

[2015-09-07 16:22] wadewegner commented on #139
Can you run a Fiddler trace and share the exact response from Salesforce?

[2015-09-07 16:24] wadewegner opened #141 "Secure org credentials"
I think it's time we properly secure our org credentials.

[2015-09-07 23:02] wadewegner commented on #141
Finally completed! https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/2fd6a78ece58ca8c9c6058a57eb25c0ae99f90e9 https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/e86863dee46caeb2171641f93bf590038a3d5ba8 https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/53b05186fcffedc811816633d5b037134eaf12ce

Everyone celebrate. =)

@dcarroll (and anyone else who w

[2015-09-07 23:09] #141 closed

[2015-09-07 23:11] wadewegner commented on #89
Added. https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/8a947a48802f97357fb283721b6ce17f2f9a87c7

[2015-09-07 23:11] #89 closed

[2015-09-07 23:50] wadewegner commented on #109
This shows how to use `UpsertExternalAsync` to update with an external Id: https://github.com/developerforce/Force.com-Toolkit-for-NET/blob/master/src/ForceToolkitForNET.FunctionalTests/ForceClientTests.cs#L475

[2015-09-07 23:50] #109 closed

[2015-09-08 22:21] meenanarendra commented on #139
Hi Wade,

Thank You for replying. This was due to our network settings. I have
disconnected from VPN and run the emulator. it works for me.

Thank You
Narendra

On Mon, Sep 7, 2015 at 11:22 AM, Wade Wegner <notifications@github.com>
wrote:

--
Thanks & Regards,
Narendra K Meena
502-994-4825

[2015-09-09 06:12] willemmulder commented on #109
Hi @wadewegner thanks.

Just as a suggestion: I think some real documentation of the features, including examples would be beneficial for many people; digging through the tests is not the same.

[2015-09-09 07:44] BharatBhatiaDev opened #142 "The REST API is not enabled for this Organization."
While creating new object with the specified steps in getting this error .
Sample:
 var account = new Account() { Name = "New Account", Description = "New Account Description" };
                var id = await client.CreateAsync("Account", account);

error : The REST API is not enabled for this Organization.

   at Salesforce.Common.ServiceHttpClient.<HttpPostAsync>d__12`1.MoveNext()
--- End of st

[2015-09-09 14:32] wadewegner commented on #142
There is nothing I can do to help you. You'll have to contact Salesforce and have them enable API access for your organization.

[2015-09-09 14:32] #142 closed

[2015-09-12 14:26] c4less opened #143 "Unable to login from WCF Services"
Hi Wade,

I created a WCF Service to collect data from salesforce. I am unable to retrieve data now. It shows the below mentioned exception.

![image](https://cloud.githubusercontent.com/assets/4557657/9831934/39916afc-5988-11e5-81db-de07f949d319.png)

System.AggregateException was unhandled by user code
  HResult=-2146233088
  Message=One or more errors occurred.
  Source=mscorlib
  StackTrace:

[2015-09-16 09:07] ivanschwarz opened #144 "LeadSource field required when updating Lead"
Thank you for this toolkit, it looks very promising!

Currently I'm running into this issue:
When I try to update a Lead, I get a ForceException: "You have to specify a Lead Source before continuing". Is this a correct behaviour? I don't want to overwrite a current value of a Lead Source field. With WSDL-generated reference, Lead Source is not required for a Update request.

[2015-09-17 10:13] dharmeshvp opened #145 "Access token not getting after getting code and apply in WebServerAsync"
can you please tell me this issue as soon as possible

[2015-09-29 15:18] twhitbeck opened #146 "DateTime formatting"
If I have a record with a `DateTime` field with `Kind`: `Local`, then when this gets serialized the standard date format "s" is used which doesn't include any timezone information.
see https://msdn.microsoft.com/en-us/library/az4se3k1(v=vs.110).aspx#Sortable

This leads to the date being set as UTC in Salesforce.
The format is specified [here](https://github.com/developerforce/Force.com-Toolkit-fo

[2015-10-07 15:58] jeanfrancoislarente opened #147 "3rd Party SAML bearer"
I'm wondering if you were planning on adding support for SAML Bearer Assertion to the library? The method would basically take only the SAML Assertion and return the token?

Thanks very much.
J.F.

[2015-10-12 14:29] DomCotton opened #148 "AuthenticationClient returns just ApiVersion"
Hi,

I am new to oauth, salesforce, in fact i am new to this entire environment!  Up until today i have been working with a tool called "Office Toolkit for Salesforce" using an old com dll.  I want to move over to use the Rest API framework (please excuse any of my incorrect terminology).

I am following an example showing that i can authenticate and then create a new "ForceClient" - here is my co

[2015-10-12 14:52] ivanschwarz commented on #148
Hello,

It seems you don't wait until the UsernamePasswordAsync is finished.

From Readme.md:
[code]

Note *await* keyword.

[2015-10-12 15:08] DomCotton commented on #148
Hi,

Thanks for the speedy response, at least i now get an error!  Something to work with...

Regards,
Dom

[2015-10-12 15:08] #148 closed

[2015-10-12 17:12] dcarroll commented on #147
Will look into this.

On Wed, Oct 7, 2015 at 8:58 AM, jflarente <notifications@github.com> wrote:

--
Thanks,
Dave

[2015-10-12 19:08] acccollin opened #149 "Help to parse subquery results"
Hello Forum,

I am running the following test query:

![image](https://cloud.githubusercontent.com/assets/6392702/10436156/ab076570-70f2-11e5-9c05-14f744cf17a0.png)

Could somebody share same examples on how to parse subquery results, i.e. in the query above CaseComments and EmailMessages?

results.records gives me access to the parent data, but I'm just trying to reach out to the two child object

[2015-10-12 19:33] dcarroll commented on #149
The child objects should be wrapped in their own "queryResult" structure. The queryResult has a records array and a size and so on.

In your example it should be
`testResults.CaseComments.records[0].Name`

[2015-10-12 20:23] acccollin commented on #149
Thanks for your reply Dave.

Got access to the child object - with just a few changes from the example you provided:
var testcomments = testResults.records[0].CaseComments.records;

[2015-10-12 20:23] #149 closed

[2015-10-12 20:24] dcarroll commented on #149
Ah, yup, my bad.

On Mon, Oct 12, 2015 at 1:23 PM, acccollin <notifications@github.com> wrote:

--
Thanks,
Dave

[2015-10-14 11:11] oleksii-iaroshchuk opened #150 "API_DISABLED_FOR_ORG error code is missing in Error enum"
When I try to use any REST API method for GROUP or PROFESSIONAL account (for which API is disabled by default), I get the `ForceException` with Message="The REST API is not enabled for this Organization.", and Error=Unknown.
But if I peek at HTTP response, I see that body contains the following JSON:
[code]
So, it seems like we have a specific code for this error returned from Salesforce, but it i

[2015-10-15 00:51] shankararunachalam opened #151 "Web Server flow - get back username in AuthenticationClient"
We are replacing our Username-Password flow with the Web Server flow in a background process. We have two possible users who would use the process and so we want to ensure that we can persist their access and refresh tokens in a database against their usernames.

I see that the AuthenticationClient only gives an Id field (salesforce-based) and not the username. Is it possible to add the username a

[2015-10-16 11:00] logiticks-github commented on #143
Facing similar issue . Any solution for this ?
"authentication failure"

   at Salesforce.Common.AuthenticationClient.<WebServerAsync>d__28.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Ta

[2015-10-16 19:29] wadewegner commented on #143
Can you use Fiddler and capture a trace so we can see the exact error message?

[2015-10-27 23:50] pdandrea opened #153 "Unable to get assignment rule to fire or assign case to queue"
Steps taken:
1. var forceClient = new ForceClient(InstanceUrlSFDC, AccessTokenSFDC, ApiVersionSFDC);
2. var sfdcCase = new sfdcCase() {  ....elements added... }
3. var id = forceClient.CreateAsync(sfdcCase.SObjectTypeName, sfdcCase);
4. id.Wait();

The issue is, even though the case is successfully created, the assignment rule doesn't seem to fire and the case always end up in default queue.  I fo

[2015-11-04 12:53] mreyeros commented on #123
I am seeing a similar issue on my end while using the toolkit.  In my local development environment all works well, once deployed to one of our servers I receive the following error when attempting to get a list of records back from SF.  The code I am calling looks like this:

public async Task<List<CommunityContact>> GetCommunityContacts(string communityAccountId)
        {
            var auth =

[2015-11-04 14:49] mreyeros opened #155 "Could not load type '<HttpGetAsync>d__7`1' from assembly 'Salesforce.Common..."
I am seeing an issue on my end while using the toolkit. In my local development environment all works well, once deployed to one of our servers I receive the following error when attempting to get a list of records back from SF. The code I am calling looks like this:

 public async Task<List<CommunityContact>> GetCommunityContacts(string communityAccountId)
    {
        var auth = await Login();

[2015-11-11 18:29] meenanarendra commented on #51
We have this package install <package id="DeveloperForce.Force" version="1.1.1" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />

I still see the error with windows app certification kit.

Debug configuration
Error Found: The debug configuration test detected the following errors:
The binary Salesforce.Force.dll is built in debug mode.
The binary Salesforce.Commo

[2015-11-12 18:37] acccollin opened #158 "Making async calls in a Xamarin.Forms app"
Hello All,

I've been working on a POC to create a mobile app using Xamarin.Forms. Could you please provide some sample code for Xamarin.Forms?
In one of my XAML pages I'm calling a method to fetch the data in Salesforce to then set the BindingContext to the results. However, as soon as I make async calls (using await) the main thread is released (as expected) and all controls in the form get load

[2015-11-17 19:16] meenanarendra commented on #51
Thank you for providing the release to fix this issue. I have updated DeveloperForce.Force.1.2.1 package and that resolved the issue.

[2015-11-18 01:37] wadewegner commented on #51
Glad to hear it. Interestingly, I did nothing different. I wonder if packaging or publishing broke during our previous publish. We'll track it better moving forward.

[2015-11-18 03:50] meenanarendra commented on #51
I get below error message after update from client.QueryAsync method

Could not load file or assembly 'System.IO.Compression, Version=3.9.85.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' or one of its dependencies. The system cannot find the file specified. at Salesforce.Common.HttpContentCompressedDataExtensions.<ReadAsDecompressedStringAsync>d__0.MoveNext()
   at System.Runtime.CompilerSe

[2015-11-18 16:14] torfeld6 opened #160 "Unexpected query response: "We are down for maintenance" for long queries."
The maximum query length defined by the salesforce.com api is 20'000. I'm able to run the following query in the Force.com Explorer, but your toolkit gives me the following response.
# Code

[code]
# Response

[code]

[2015-11-23 17:51] acccollin opened #161 "Force.com Toolkit and TLS 1.0 deprecation"
Can you please confirm whether TLS 1.0 deprecation as per https://help.salesforce.com/HTViewSolution?id=000221207&language=en_US

would affect projects using the Force.com Toolkit?

[2015-11-28 07:42] bonhomie opened #162 "can't build with Visual Studio 2015"
I opened the sample solution file within Community edition of visual studio 2015 and it has some issues restoring the nuget packages.
Severity	Code	Description	Project	File	Line
Error		This project references NuGet package(s) that are missing on this computer. Enable NuGet Package Restore to download them.  For more information, see http://go.microsoft.com/fwlink/?LinkID=322105. The missing file i

[2015-12-01 10:45] hyperoceanic commented on #161
I did some investigation yesterday with a colleague and yes it does seem to use TLS1.0. There are additionally issues when you change the security protocol before connecting:

`ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;`

If you do that you get an error later - grant type not supported.

[2015-12-01 20:27] #139 closed

[2015-12-15 20:29] meenanarendra commented on #51
Hi Wade,

We are using sales force git hub library to retrieve the data from sales
force. We have field in a user table *User.SmallPhotoUrl. We want to
display this image url into our application as image. *

*Here is sample image url. *
https://c.na7.content.force.com/profilephoto/729A0000000Pee2/T

How we can download this image using force client to bind to image control.
This url required auth

[2015-12-30 10:15] AmbroiseCouissin opened #167 "Doesn't work with Newtonsoft.Json 8.0.1"
I had a serialization bug when using latest newtonsoft.json version (8.0.1). I had to revert back to 7.0.1.

Here is the stack trace:

Unexpected character encountered while parsing value: t. Path 'done', line 3, position 11. ||| StackTrace:    at Newtonsoft.Json.JsonTextReader.ReadStringValue(ReadType readType)\r\n   at Newtonsoft.Json.JsonTextReader.ReadAsString()\r\n   at Newtonsoft.Json.Serial

[2015-12-30 20:02] mattruma commented on #167
Running into this same problem.

[2016-01-04 05:28] stuartajames commented on #167
+1 for a resolution to this issue

[2016-01-07 18:52] benerdin commented on #167
I also just experienced this issue. No published version of the NuGet package was compatible with Newtonsoft.Json v8.0.1 when I tested today.

[2016-01-07 18:55] wadewegner commented on #167
Thanks all. Looks like Newtonsoft.Json v8.0.1 just recently came out. I'll see if I can get it fixed soon.

[2016-01-08 15:23] benerdin commented on #167
Thanks, Wade. I can't get the code to compile locally (it's complaining about "Window.props"), but here are some further findings:

In the classes <code>QueryResult</code> and <code>SuccessResponse</code>, the properties <code>QueryResult.Done</code> and <code>SuccessResponse.Success</code> are defined as type <code>string</code> but they are receiving a <code>bool</code> value from <code>JsonConv

[2016-01-08 16:10] radleta commented on #167
I've created [a fork](https://github.com/radleta/Force.com-Toolkit-for-NET) with the necessary changes made which @benerdin refers to getting the library working with Newtonsoft.Json 8.0.1. We're working through trying to test to decide whether it'll be acceptable or not to use for us.

[2016-01-16 18:55] wadewegner commented on #167
Sorry folks. Work/life got in the way. I'm address this today and will try to have updated packages soon.

[2016-01-16 19:03] wadewegner commented on #167
Looks like Newtonsoft.Json 8.0.2 resolves some issues in 8.0.1 and I found 8.0.2 to work cleanly after updating. However, I think the changes from string to bool are good, and I'm going to apply them in this next build.

[2016-01-16 19:06] wadewegner commented on #167
Here are the commits: https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/2e9995e75c5f9c14dc0274ab6292ba26a04c7712 & https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/7cfa752bf949eb02b82add7df325da9e334cffce

[2016-01-16 19:12] wadewegner commented on #167
New packages available:

https://www.nuget.org/packages/DeveloperForce.Force/1.2.3
https://www.nuget.org/packages/DeveloperForce.Chatter/1.2.3

Thanks all! I'm closing this issue. Please let me know if you have any problems.

[2016-01-16 19:12] #167 closed

[2016-01-16 19:15] wadewegner commented on #162
I had no issues opening the solution VS 2015 Professional Edition. For now I guess we don't support community edition. Apologies, I don't know the differences.

![image](https://cloud.githubusercontent.com/assets/746259/12373983/7e11d8e8-bc42-11e5-8b4e-1e742fac0f77.png)

[2016-01-16 19:15] #162 closed

[2016-01-16 19:18] wadewegner commented on #160
Would you use Fiddler2 to capture a trace and share the REQUEST and RESPONSE so I can evaluate?

[2016-01-16 19:19] wadewegner commented on #158
I don't have any experience with Xamarin Forms. Did you get this to work and, if so, can you share your learning?

I'm going to close this for now.

[2016-01-16 19:19] #158 closed

[2016-01-16 19:26] wadewegner commented on #155
Sounds like a serialization issue, most likely in your model `CommunityContact`. I'd recommend changing to `dynamic` and see if that works. From there, use Fiddler2 to capture the trace and take the JSON to http://json2csharp.com/ to generate the correct C# model.

Good luck!

[2016-01-16 19:26] #155 closed

[2016-01-16 19:26] saramorgan commented on #162
@wadewegner and @bonhomie I have used the latest version of the Toolkit with the new Community version 2015 and had no problems. I think you just need to update your packages. Perhaps even remove them and re-add them.

[2016-01-16 19:28] wadewegner commented on #153
You can create your `ForceClient` and inject the `HttpClient` with your own custom headers. Can you give this a try and let me know if you still have issues?

(Sorry for the belated reply.)

[2016-01-16 19:28] #153 closed

[2016-01-16 19:35] wadewegner commented on #151
My reading of the Web Server flow is that it doesn't return the username: https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/intro_understanding_web_server_oauth_flow.htm.

@metadaddy-sfdc can confirm.

Using the `Id` field (which is a URL) you can then query it to get additional information, like the username. See: http://salesforce.stackexchange.com/a/11748

[2016-01-16 19:35] #151 closed

[2016-01-16 19:36] wadewegner commented on #150
This was recently resolved: https://github.com/developerforce/Force.com-Toolkit-for-NET/blob/master/src/CommonLibrariesForNET/Models/Error.cs#L23

[2016-01-16 19:36] #150 closed

[2016-01-16 19:37] wadewegner commented on #145
This flow does in fact work. Not sure why you're having trouble. I'm going to close this pending additional details from you.

[2016-01-16 19:37] #145 closed

[2016-01-16 19:48] wadewegner commented on #146
This is related to the following unit test: https://github.com/developerforce/Force.com-Toolkit-for-NET/blob/master/src/ForceToolkitForNET.FunctionalTests/ForceClientTests.cs#L611

When I set `DateFormat` to `o` this is the trace:

REQUEST:
[code]

RESPONSE:
[code]

Whereas, when the `DateFormat` is set to `s` this REQUEST has no issues:

[code]

That's why I have it set this way. Perhaps @dcarrol

[2016-01-16 19:49] wadewegner commented on #144
Can you share your code so I can try to reproduce?

Apologies for the belated reply. I'm going to close this for now. If you're still having this issue, please re-open.

[2016-01-16 19:49] #144 closed

[2016-01-16 19:50] wadewegner commented on #143
Closing given the lack of additional details.

[2016-01-16 19:50] #143 closed

[2016-01-16 19:51] wadewegner commented on #119
Nothing to see here any longer ...

[2016-01-16 19:51] #119 closed

[2016-01-16 19:53] wadewegner commented on #47
Going to close this issue. Not planning to make any changes at this point.

[2016-01-16 19:53] #47 closed

[2016-01-16 19:53] #80 closed

[2016-01-18 22:19] metadaddy-sfdc commented on #151
Correct - OAuth response in web server flow does not include the username. See [Digging Deeper into OAuth 2.0 on Force.com](https://developer.salesforce.com/page/Digging_Deeper_into_OAuth_2.0_on_Force.com#Obtaining_an_Access_Token_in_a_Web_Application_.28Web_Server_Flow.29).

[2016-01-18 22:38] metadaddy-sfdc commented on #146
Looks like we don't like JSON Dates with sub-millisecond precision. This works for me (or at least fails on the invalid cross reference ids):

    {"Description":"new Event","Subject":"new Event","WhatId":"001F000001fdP8tIAE","ActivityDate":"2016-01-16T11:44:17.046-08:00","ActivityDateTime":"2016-01-16T11:44:17.047-08:00","DurationInMinutes":10}

Is there a format with precision limited to millise

[2016-01-21 16:12] LiquidSean opened #170 "Read Only Properties"
I am running into issues with read-only properties when serializing as they are not ignored when serializing to JSON. Perhaps a ContractResolver would solve this issue? . Also the serializer settings should be set to ignore nulls.

[2016-01-21 17:46] LiquidSean opened #171 "ExtensionData/ Custom Fields in SalesForce"
There should be a generic GET request that will pull all the fields including the custom ones. The QueryById won't work if you have extension data. It pulls all properties from the type causing an exception because ExtensionData isn't part of the Salesforce object.

[2016-01-22 15:27] wadewegner commented on #170
Can you share an example? I'm happy to look for a solution.

[2016-01-22 15:52] LiquidSean commented on #170
{"Unable to create/update fields: LastModifiedDate, IsDeleted, IsConverted, LastViewedDate, LastReferencedDate, SystemModstamp, CreatedDate. Please check the security settings of this field and verify that it is read/write for your profile or permission set."}.

I get responses similar to that when serializing to JSON. Currently what I am doing is declaring a public bool method for each readonly f

[2016-01-22 18:10] wadewegner commented on #170
Any chance you can capture and example of the REQUEST/RESPONSE in Fiddler when this is happening? Or just share some code where it happens?

[2016-01-25 16:46] sdshaker opened #172 "JsonConvert.DeserializeObject Error"
Hello,
I am trying to use the GetMyNewsFeedAsync function.

string message = await SFChatter.GetMyNewsFeedAsync<string>();

from the forceToolKitForNET but when the code executes I get an error return from the ServiceHttpClient.cs
Line 85 var r = JsonConvert.DeserializeObject<T>(jObject.ToString());
{"Unexpected character encountered while parsing value: {. Path '', line 1, position 1."}

[2016-01-25 17:44] LiquidSean commented on #170
User-Agent: Fiddler
Authorization: Bearer
Host: na22.salesforce.com
Content-Length: 1986
Content-Type: application/json

HTTP/1.1 400 Bad Request
Date: Mon, 25 Jan 2016 17:41:42 GMT
Set-Cookie: BrowserId=BnBgEXjbQ5eVheEqpgtWzw;Path=/;Domain=.salesforce.com;Expires=Fri, 25-Mar-2016 17:41:42 GMT
Expires: Thu, 01 Jan 1970 00:00:00 GMT
Sforce-Limit-Info: api-usage=928/15000
Content-Type: application/j

[2016-01-27 01:42] #172 closed

[2016-01-27 01:43] sdshaker commented on #172
Found my error while looking over the test class.

[2016-01-29 19:02] eduarte opened #173 "Return more than 2000 records"
Hi,

I am using your toolkit, but I need to do some data comparison and I need to extract more than 2000 records.

I don't know if is implemented but in your documentation it doesn't said anything about it.

Thanks

[2016-02-01 14:30] Blundell89 opened #174 "Use JsonPropertyAttribute rather than DataMemberAttribute for getting property names in QueryById"
Hi @wadewegner,

We have a model with properties that are annotated with the `JsonProperty` attribute. When we call `CreateAsync` our object is created in Salesforce as expected.

When using the `QueryByIdAsync<T>` method, we supply the same model for the query, which causes an exception. It looks like the `QueryByIdAsync<T>` implementation gets names from properties marked with the `DataMember` a

[2016-02-02 11:43] dibsranjan opened #175 "Issue with managed org"
How do we query against a namespace org/managed org? if we change the namespace then we need to change the code also??

[2016-02-02 21:23] LiquidSean opened #176 "JSON Serializer Settings should be set to Ignore nulls for POST and PATCH"
When updating or inserting a record an exception will be thrown if your fields have null values. I am working on an integration where I need most of the fields so at times there will be nulls.

[2016-02-04 13:49] fasi59 opened #177 "can i use AsyncCallback function to handle the response"
I want to implement callback functionality using .net toolkit.
Can i issue asynchronous calls, and use callback functions to handle the response from salesforce.

Thanks
Faisal

[2016-02-11 13:19] mp3tobi opened #178 "Can't connect to test.salesforce.com"
Hello.

A few days ago I just ran your ConsoleSample and it worked fine for me.
But now, everytime I start this sample it won't work.

Getting this error:

Sorry it's in german, but the classes are the same.

Maybe it's just a temporary problem or is this because salesforce shutdown TLS 1.0

[2016-02-13 11:17] conficient opened #179 "Ability to ignore non-salesforce properties of bound object?"
I need to add some properties to my Account class that do not exist in the Salesforce model. When I try to execute `QueryByIdAsync<Account>(...)` I get the error `No such column 'xxxx' on entity 'Account'`.

I looked at the code for this method and it does not seem to provide a way to exclude an attribute: would it be possible to amend to support the [IgnoreDataMemberAttribute](https://msdn.micros

[2016-02-16 15:19] mp3tobi commented on #178
Ok, it was just a temporary failure by me. :)

[2016-02-16 15:19] #178 closed

[2016-02-17 11:13] bonhomie commented on #162
Thanks, I managed to get it working on Community edition

[2016-02-18 03:38] meenanarendra opened #181 "TLS 1.0 Encryption Disabling by SalesForce"
Hi Wade,

Good day and need your help here.

SFDC will be disabling support to TLS 1.0 Encryption my mid of this year in sandbox and early next year in production. Details in below link:

http://www.summa-tech.com/blog/salesforce-is-phasing-out-tls-1.0-support-take-action-now

We are using DeveloperForce.Force library to connect to sales force. Can you please let us know, if this TLS upgrade will

[2016-02-18 22:43] wadewegner commented on #181
Good question.

Today it's definitely using TLS 1.0 -- I just captured this with Wireshark:

![image](https://cloud.githubusercontent.com/assets/746259/13160604/3b851010-d64d-11e5-9542-64200fbab84d.png)

Typically you'd use `ServicePointManager` to manage the TLS version. However, this SDK uses portable class libraries, and it doesn't look like the `HttpClient` PCL supports `ServicePointManager`.

[2016-02-18 22:49] wadewegner commented on #161
https://github.com/developerforce/Force.com-Toolkit-for-NET/issues/181

Sorry. I'm going to close this and track on the new issue.

[2016-02-18 22:49] #161 closed

[2016-02-19 04:35] wadewegner commented on #181
This thread on Twitter seems to indicate it will just work: https://twitter.com/terrajobst/status/700513325528928257

[2016-02-25 16:23] TommyRush commented on #181
I just started getting this error this morning: "TLS 1.0 has been disabled in this organization. Please use TLS 1.1 or higher when connecting to Salesforce using https" with the latest nuget DeveloperForce.Force (1.2.3).

[2016-02-25 17:11] wadewegner commented on #181
Yes. Looks like we need to change out compression library. I will try to update this ASAP.

[2016-02-29 12:46] Bidou44 opened #182 "Silverlight 5"
I saw that this project is not compatible with Silverlight.

What should I do to make it compatible? Would it work if I change the code? I'm not sure, because the cross-domain policy problem will probably stay. Could you confirm?

Thanks.

Edit: I modified the code, now it runs with Silverlight. But I always get the "standard" Permission Exception. I really don't understand why Salesforce do not w

[2016-03-01 16:37] mp3tobi commented on #181
Well, I think it's not only on the framework. With a quick hack in the registry you could use TLS 1.2 even in the .NET 4.5.x Versions.
https://help.salesforce.com/apex/HTViewSolution?id=000221207&language=en

I tried it and activated the new TLS 1.2 functionality and it works great within .NET 4.5.x

[2016-03-02 08:16] mp3tobi commented on #173
I think the problem is on the salesforce side:
https://developer.salesforce.com/docs/atlas.en-us.salesforce_app_limits_cheatsheet.meta/salesforce_app_limits_cheatsheet/salesforce_app_limits_platform_apicalls.htm

[2016-03-04 15:59] sheibeck opened #183 "Compound Address Field - Lat/Long"
I'm running into an issue with GeoLocation fields when running a ForceClient.SelectEntities.

Here is the code I'm running - where "Dealer_Geocode__Longitude__s" is one field from a compound object.

[code]

I've verified the field exists in the model, but I get the error "Input string was not in a correct format." with the following stack trace, it looks like it's bombing out on the ParseDouble .

[2016-03-04 16:09] sheibeck commented on #183
Ah, sorry to muddy the issues list here. I see what's happening.

[2016-03-04 16:09] #183 closed

[2016-03-12 11:30] daruvurisai opened #184 "The missing file is ..\packages\Microsoft.Bcl.Build.1.0.21\build\Microsoft.Bcl.Build.targets. Sensor Telemetry"
I am doing an application when i am trying to add the bcl library into packages using nuget package manager console i am getting this error when debugging the code.

[2016-03-15 22:24] wadewegner commented on #181
FYI: I was able to get a Salesforce org with TLS 1.0 turned off and sadly this is indeed a problem:

[code]

I don't know the right solution right now. The easiest approach I can think of is remove support Silverlight and Mono and go strictly with .NET 4.5+. I'm open to ideas.

[2016-03-16 09:20] mp3tobi commented on #181
Do the community really need Silverlight Support?
I only use your package as a class in a console only project. It will run on a windows 7 computer. And therefore the registry hack works great. :)

Mono I think will nobody use.

[2016-03-16 15:44] mp3tobi opened #185 "Merge the Bulk API into Master, please!"
Hello.

Maybe it's a bit more complicated than I think. But what is the reason the most useful pull request in 2015 is not merged into master?
https://github.com/developerforce/Force.com-Toolkit-for-NET/pull/136

Please, please merge it. I need it and it would be very useful to use the bulk API via the nuget package. :)

Thanks
mp3tobi

[2016-03-16 20:52] kleesman commented on #181
We use this library to offer Salesforce API integrations between our system and Salesforce and ran into a client today where this was an issue. It was hard to diagnose the root cause because salesforce was returning an HTML error page, which caused the JSON decoding to throw an exception.

The message Salesforce returned was:
<h1>Stronger security is required</h1><div class="simple"><p>To access t

[2016-03-18 15:29] wadewegner commented on #185
You're welcome to merge this into your own fork. I'm honestly not certain that this pull request is the right solution and, yes, it's a bit of work to evaluate. We'll try to prioritize it.

[2016-03-18 15:29] #185 closed

[2016-03-18 15:32] wadewegner commented on #181
Yes, I'm sorry @kleesman. Still working on a solution.

In emailing with Miguel it sounds as if Alpha Preview 1: Cycle 7 Updated 1 (wow, what a name!) adds TLS 1.2 support. https://releases.xamarin.com/alpha-preview-1-cycle-7/

I haven't dug into it beyond this but it's encouraging.

[2016-03-24 23:14] nagstaku opened #186 "need ability to set Request Headers"
When updating a lead, it automatically fires off lead assignment rules unless you set a request header.

https://developer.salesforce.com/docs/atlas.en-us.200.0.api_rest.meta/api_rest/headers_autoassign.htm

Sforce-Auto-Assign: FALSE

I verified in postman that I can add the headers to get the desired behavior but it doesn't appear we have any way of adding headers to the forceclient. Preferably I

[2016-03-29 14:30] blandoe commented on #122
Reproducible - have the ExternalId pointing to two records.  Fiddler shows the TextView return from webservice call as the below.  To be clear, Fiddler's JSON view correctly shows it as two nodes.

77
["/services/data/v32.0/sobjects/Account/xxxxxxxxxxxxxxxxxx","/services/data/v32.0/sobjects/Account/xxxxxxxxxxxxxxxxxx"]
0

[2016-04-01 12:40] mchorlton commented on #181
We have this issue too, is there any temporary workaround that doesn't involve editing registry keys?

[2016-04-04 02:42] watzon opened #187 "DeveloperForce.Force 1.2.3 is not compatible with UAP,Version=v10.0."
Are there any plans to make this compatible with UAP 10?

[2016-04-21 19:08] wadewegner commented on #181
I've confirmed that you can resolve this by explicitly setting the `SecurityProtocol` to `SecurityProtocolType.Tls12`.

[code]

I think it's time to remove support for Silverlight (given there's no access to `SecurityProtocol`. I'll track this separately.

[2016-04-21 19:08] #181 closed

[2016-04-21 19:13] wadewegner commented on #181
See this update for example: https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/9af33985c6870c1598a70169dbbc8026807c0fac

[2016-04-21 21:11] wadewegner commented on #182
Glad you got it running with Silverlight.

If there's anything else you want to track let's open a new issue.

[2016-04-21 21:11] #182 closed

[2016-04-21 21:30] wadewegner commented on #186
I haven't tested this, but couldn't you create your own `HttpClient` as follows and pass it in?

[code]

You wouldn't want to use this `httpClient` for all your requests but as a one off this would work, right?

I'll review the linked pull request.

[2016-04-25 11:09] mp3tobi opened #190 "Example for ExecuteRestApiAsync ?"
Hello.

I just wanted to fetch my remaining API Calls for the 24 hour window. Is there a method for that.
I already tried it via ExecuteRestApiAsync("limit"); But there was no API found. :(
Has anyone an idea how to get the remaining API Calls or an example on how to use the ExecuteRestApiAsync method?

Thanks, mp3tobi

[2016-04-27 16:06] wadewegner commented on #190
Here's one possible way we could make this work. What do you think?

https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/c0661a2c132fc025613207652ec53e05be5174a2#diff-cd4a405be9790fb4bdd0290ab5f0842eR56

@dcarroll, interested in your thoughts too.

Things I don't like:

1. It appears that `Sforce-Limit-Info` doesn't come back consistently, so I had to write it in a method to check t

[2016-04-28 07:37] mp3tobi commented on #190
Well that could the way I like. :)
Just reading ForceClient.ApiUsage and get the remaining calls or the calls I've made in the last 24 hours.

[2016-05-03 16:32] Hikerakashiya commented on #181
@wadewegner, I am confused. Do applications that use the Force.com Toolkit for .NET have to have
`ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;`
manually added or does the Toolkit take care of this so this is not something that has to be managed by the client? Considering this is a dependency between the toolkit and Salesforce shouldn't consumers of this toolkit not have to wo

[2016-05-03 16:58] wadewegner commented on #181
Yes, you need to manually add. The SDK is (largely) platform agnostic whereas the way with which you specify TLS version is dependent on your platform.

[2016-05-03 17:10] Hikerakashiya commented on #181
Thank you for confirming @wadewegner!

[2016-05-18 18:43] abhidotnet opened #191 "Unable to login to a sandbox"
How do I target a sandbox environment for testing? Is there some parameter that I need to pass to target a sandbox?

[2016-05-20 02:00] scanspeak commented on #35
I don't get it. What does it mean "I removed support for .NET 4.0"? There are a lot of enterprise applications in development that use .NET 4.0.
I can remove what I want in my home project. I cannot remove anything I personally want from anything I develop. I cannot believe it is official SalesForce package. Well, I cannot use it.
By the way, the documentation is still not updated. Not a word that

[2016-05-20 04:06] dfbuild commented on #35
This is not an official package. I work on this in my own time.

You can easily fork this entire repo and target .NET 4.0.

On Friday, May 20, 2016, scanspeak <notifications@github.com> wrote:

[2016-05-25 19:13] patrickrobbins opened #192 "Update password"
What would be the correct way to update a user password through this library?  Thanks.

[2016-05-30 09:53] jezguitarist30 opened #193 "Convert Lead to Contacts"
Is is possible to convert leads into contact using the API?

[2016-06-01 10:14] dannyb2100 opened #194 "Error when inheriting object maps from a dictionary"
Error when inheriting object maps from a dictionary

[code]

Any insights?

[2016-06-01 13:16] mp3tobi commented on #191
Well yes there is a parameter called: "IsSandboxUser" if you are using the configurationmanager Variables from the simple Console Example:

`private static readonly string IsSandboxUser = ConfigurationManager.AppSettings["IsSandboxUser"];`

[https://github.com/developerforce/Force.com-Toolkit-for-NET/blob/master/samples/SimpleConsole/Program.cs](url)

[2016-06-03 01:54] advancedrei commented on #146
When I craft SELECT statements using this library that use WHERE and GROUP BY clauses based on dates, I've found that I have to set the DateFormat to "s", and append a "Z" to the end of the string. That is the *ONLY* way the query will work. Your INSERTS may be OK with the "s" format without a Z, but Salesforce is definitely not OK with SELECTS being that way.

I don't have the foggiest idea how t

[2016-06-07 14:38] mp3tobi opened #195 "query percent fields?"
I have a query and want to use the "queryAsync" Method.
But if I include fields that are in Salesforce from the type "percent" in my query I got an error with Newtonsoft.Json.JsonSerializationException

`    public class Abweichende_Artikeldaten__c
    {
        public const String SObjectTypeName = "Abweichende_Artikeldaten__c"; //Objektname in Salesforce

[code]

Rabatt_1__c till Rabatt_6__c are

[2016-06-07 15:02] mp3tobi commented on #195
Well I got my error.
I query some datasets with some fields which contains nothing.
So NULL to Double is not allowed in c# and that throws me an error.

So maybe I change the standard information for the double, percent fields to 0 if there are no user value entered.

Or have you another good implementation how I could catch the null value, change it to 0 and enter the 0 value to my double member

[2016-06-09 15:51] evoamac opened #196 "Not supporting .NET Core"
getting error "Package DeveloperForce.Force 1.3.0 is not compatible with netstandard1.5" when I run nuget.

[2016-06-16 21:54] nagstaku opened #197 "UpdateAsync makes null property erase target property?"
Per your code example for update:
***
You can update an object:

var account = new Account() { Name = "New Name", Description = "New Description" };
var id = await client.CreateAsync("Account", account);

account.Name = "New Name 2";

var success = await client.UpdateAsync("Account", id, account);
***

In my attempts, if account.Description = null when doing an update, and the value on Salesforce

[2016-06-17 15:47] wadewegner commented on #197
This shouldn't happen and I thought we had it set to ignore nulls on updates. I'll take a look.

[2016-06-17 17:14] nagstaku commented on #197
Oh that would be great if this was fixed. It leaves the question though of how to delete a field on purpose. My temporary work around was to serialize an object to JSON and then back to a dynamic object.

It looks like the SOAP API has an additional object noted as such:

[2016-06-22 03:51] dallasclement opened #198 "Avoiding user authorization prompt"
Hi, I am wanting to implement the web server flow type authentication from a windows service, which periodically makes salesforce rest api calls.  With this scenario, there would be no web browser or user interaction involved.  Just need the windows service to get an authorization code, and then an access token, and make API calls.  Does anyone have any ideas how I can avoid the user prompt in ste

[2016-06-23 01:24] dallasclement commented on #198
I think better to just use username / password authentication for this type of application.

[2016-06-23 01:24] #198 closed

[2016-06-29 02:08] timcreatewell commented on #196
Hi there, I'm also keen to know if support for .net core is on the roadmap?

[2016-06-29 02:28] evoamac commented on #196
Well, I end up downloaded the whole solution, and rewrote several
classes/methods. It works ok with .NET Core now
On Jun 28, 2016 9:08 PM, "Tim Cromwell" <notifications@github.com> wrote:

[2016-06-29 06:07] timcreatewell commented on #196
Thanks @evoamac , I was thinking of doing the same and running the code through the Portability Analyzer (https://visualstudiogallery.msdn.microsoft.com/1177943e-cfb7-4822-a8a6-e56c7905292b) to see what would turn up.

[2016-07-02 16:06] jagilbert27 commented on #96
I am having the same problem: My test console app works fine, but QueryAsync never returns when called from a windows app.
- Windows 10
- Visual Studio 2015, C#,  .Net Framework: 4.6.1
- DeveloperForce: 1.3.0, Newtonsoft.Json 8.0.3

I make the following call from a test console app and it works as expected, but the same call, with the same soql and the same authentication never returns and no exce

[2016-07-02 17:23] patrickrobbins commented on #96
If you are using async, make sure you are not thread locked.  Try adding
the configureawait(false)
http://blog.stephencleary.com/2012/02/async-and-await.html

On Jul 2, 2016 12:06 PM, "jagilbert27" <notifications@github.com> wrote:

[2016-07-02 17:37] jagilbert27 commented on #96
Thanks Patrick, I'll try that.
I just noticed that this works and I see all my records in the console log:
[code]
but this doesn't log the results and the Task.WaitAll never returns.
[code]

[2016-07-02 20:43] jagilbert27 commented on #96
Thanks again Patrick!  The "ConfigureAwait(false)" did the trick.  This now works as expected:
[code]
_[SalesForce ForceClient QueryAsync hangs blocks stuck winforms]_

[2016-07-08 10:49] toprysk opened #199 "List of objects which can be managed"
I start to use Force.com-Toolkit-for-NET in my project. At the moment I know how to work with Account, Contact and Lead, but it is importantly for me to work with Report (create, get data, update and delete).
I can get some data of report (id, name, description, folder name), but can't create, update or delete.
Can You, please, provide me with information what actions we can use for SalesForce Rep

[2016-07-15 04:55] sabindangol opened #200 "Authentication Issue"
Hi,

I get this error from time to time when authenticating with Salesforce: Unexpected character encountered while parsing value: <. Path '', line 0, position 0.

I get this error for this part of code:
await auth.UsernamePasswordAsync(myProperty.ConsumerKey, myProperty.ConsumerSecret, myProperty.Username, myProperty.Password, url);

I am trying to sync data from my app to Salesforce. It tries to

[2016-07-15 16:09] Hikerakashiya opened #201 "AuthenticationClient.TokenRefreshAsync Missing RefreshToken"
After calling AuthenticationClient.TokenRefreshAsync, the RefreshToken is null in the AuthenticationClient object. How are we suppose to do a token refresh in the future after the first refresh token is used and another one is never populated? This appears to be a bug.

[2016-07-18 23:56] masaab opened #202 "Cannot add current nuget package to ASP.NET CORE 1.0"
I am trying to add the package to my asp.net core 1.0 project. It is throwing an error
**Package DeveloperForce.Force 1.3.0 is not compatible with netcoreapp1.0**.

Can we create a package that supports .net core.

[2016-07-20 16:11] Hikerakashiya commented on #201
@wadewegner can you please look into this?

[2016-07-21 22:38] sabindangol opened #203 ""Retry Your Request" Error while doing Salesforce Authentication"
Hi,

I have this code which was running fine, but now is giving me an error " retry your request".

var auth = new AuthenticationClient();

var url = GlobalProperty.IsSandboxUser.Equals("true", StringComparison.CurrentCultureIgnoreCase) ? GlobalProperty.SandboxUrl : GlobalProperty.ProductionUrl;

await auth.UsernamePasswordAsync(GlobalProperty.ConsumerKey, GlobalProperty.ConsumerSecret, GlobalProp

[2016-07-22 00:01] sabindangol commented on #203
It worked for me after doing this:

ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

await auth.UsernamePasswordAsync(GlobalProperty.ConsumerKey, GlobalProperty.ConsumerSecret, GlobalProperty.Username, GlobalProperty.Password, url);

[2016-07-22 00:02] #203 closed

[2016-07-27 11:12] mchorlton commented on #200
I am also getting the same issue. Production system with no changes was working fine a few days ago, now every call to ```await authenticationClient.UsernamePasswordAsync(_clientId, _clientSecret, _username, _password + _token);``` results in either a generic ```retry your request``` or ```Unexpected character encountered while parsing value: <. Path '', line 0, position 0.```

Please advise.

[2016-07-27 11:26] benerdin commented on #200
I believe this issue was already answered a few times. Check out the discussions in these closed issues: https://github.com/developerforce/Force.com-Toolkit-for-NET/issues/181, https://github.com/developerforce/Force.com-Toolkit-for-NET/issues/203

[2016-07-27 13:38] mchorlton commented on #200
Thanks for the swift response. That has solved the problem.

[2016-07-27 14:49] chuckwhite279 commented on #197
I am running into this issue too.  When I do an UpdateAsync trying to update one field, I get a success back but any field not sent with the update is deleted.

forceClient.UpdateAsync("MyObjectType__c", idStringFromAnotherMethod, new {fieldToUpdate = true}) wipes out any other field.  I'm working on the json workaround nagstaku noted above but I'm hitting exceptions at the moment.

[2016-07-27 18:31] wadewegner commented on #197
Working with @chuckwhite279 I finally can reproduce the issue and think I have a fix. Testing and will update soon.

[2016-07-27 18:39] wadewegner commented on #197
Here's the [proposed fix](https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/b50bc4b55e84db180a868c152fb657f2481a1cc5?diff=unified#diff-e1a2c705e38e9ca0c8fee5b3414878fe). All tests pass.

[2016-07-27 19:43] wadewegner commented on #197
@chuckwhite279 just confirmed this fixed solved his issue. I'll package and publish v1.3.1 with this fix shortly.

[2016-07-27 19:50] wadewegner commented on #197
Published: https://www.nuget.org/packages/DeveloperForce.Force/1.3.1

Thanks @chuckwhite279 and @nagstaku for your help!

[2016-07-27 19:50] #197 closed

[2016-07-27 20:55] wadewegner commented on #201
Are you sure you have `Perform requests on your behalf at any time (refresh_token, offline_access)` set in your Connected App?

![image](https://cloud.githubusercontent.com/assets/746259/17192014/926b52cc-5401-11e6-9016-25e566849281.png)

[2016-07-27 21:12] wadewegner commented on #201
I found the bug. Working on a fix. So sorry.

[2016-07-27 21:25] wadewegner commented on #201
I see what's happening here. You're expecting a new `RefreshToken`? You won't get one.

Here's the response you get from `https://login.salesforce.com/services/oauth2/token?grant_type=refresh_token...`:

[code]

You don't get another refresh token. You need to use the original.

The reason the value is null is because there's nothing to grab. What behavior would you prefer?

[2016-07-27 21:27] wadewegner commented on #201
Would you rather I add the refresh token you passed into the method back into the `RefreshToken`?

[2016-07-27 21:35] wadewegner commented on #201
See if this helps you: https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/9b9de8c0f6ded10133f63fee06034a7781100176

[2016-07-27 21:42] wadewegner commented on #201
I decided this was a valuable addition and went ahead and generated a new package. Grab v1.3.2.

[2016-07-27 21:42] #201 closed

[2016-07-27 21:45] #200 closed

[2016-07-27 21:46] wadewegner commented on #199
Please start with the Salesforce documentation.

[2016-07-27 21:46] #199 closed

[2016-07-28 12:59] Hikerakashiya commented on #201
I assumed that after you use the Refresh Token, it expired like the Access Token. So I was expecting a new Refresh Token returned in the AuthenticationClient object after calling AuthenticationClient.TokenRefreshAsync. I did not realize the Refresh Token stayed valid and all you needed to do was preserve the original Refresh Token. Thanks for making this change.

[2016-07-28 20:13] wadewegner commented on #202
Duplicate:
https://github.com/developerforce/Force.com-Toolkit-for-NET/issues/196

[2016-07-28 20:13] #202 closed

[2016-07-28 20:14] wadewegner commented on #195
Can't you do something like:
[code]

[2016-07-28 20:17] wadewegner commented on #193
I'm not sure if this is available in the REST API. Looks like you can do it with the SOAP API, though: https://developer.salesforce.com/docs/atlas.en-us.api.meta/api/sforce_api_calls_convertlead.htm

[2016-07-28 20:19] wadewegner commented on #192
https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_sobject_user_password.htm

If you end up writing something that makes this nice and easy, please consider sharing the code. Perhaps we can add it as some sort of utility.

[2016-07-28 20:19] #192 closed

[2016-07-28 20:19] #191 closed

[2016-07-28 20:22] wadewegner commented on #190
I haven't merged it in. I'm not that thrilled with the implementation. And I still haven't heard back from @dcarroll to get his take on it. ;-)

[2016-07-28 20:23] wadewegner commented on #184
I'm very sorry but I don't know how to help/support. What kind of project are you creating? What platform are you targeting? Lots of additional information needed. Going to close pending additional updates from you.

[2016-07-28 20:23] #184 closed

[2016-07-28 21:11] masaab commented on #196
I got it to work by adding net45 and removing netx45 in the project.json framework section.

[2016-07-28 21:47] evoamac commented on #196
Is it targeted the newer netcore1.0 or the 5.0rc?

On Jul 28, 2016 4:11 PM, "masaab mushtaq" <notifications@github.com> wrote:

[2016-07-28 21:53] masaab commented on #196
it is targeting netcore 1.0.
below is my project.json snippet.

 "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.0-rc2-3002702",
      "type": "platform"
    },

[2016-07-29 09:39] conficient commented on #173
You should use the `QueryContinuationAsync` method to get more records if you need to get all.

This is a code fragment in my library that does this:
[code]

[2016-07-29 12:42] wadewegner commented on #196
Thanks for the info, @masaab. Is there anything I need to do here?

[2016-07-29 12:45] wadewegner commented on #196
Incidentally, I ran the Portability Analyzer against the primary assembly.

![image](https://cloud.githubusercontent.com/assets/746259/17248481/ab15fd96-554f-11e6-86f8-172ed8caa59d.png)

[2016-07-29 12:46] wadewegner commented on #196
And this:

![image](https://cloud.githubusercontent.com/assets/746259/17248502/c99055aa-554f-11e6-8f22-2f8c4d059506.png)

[2016-07-29 12:49] wadewegner commented on #175
Sorry for the belated reply. Unfortunately, I don't understand what you're asking. Can you clarify and, if possible, give an example of what you're trying to do?

Given how long this has been open I'm going to close. But please feel free to re-open.

[2016-07-29 12:49] #175 closed

[2016-07-29 13:19] wadewegner commented on #82
Wow. A long time coming.

Here's the pull request for this feature upgrade: https://github.com/developerforce/Force.com-Toolkit-for-NET/pull/205

I'll leave it here for just a bit and then merge if no one has any problems with it.

/cc @dcarroll

[2016-07-29 13:33] wadewegner commented on #83
Okay. Finally got around to this one too. =)

https://github.com/developerforce/Force.com-Toolkit-for-NET/pull/205

/cc @dcarroll

[2016-07-29 13:35] wadewegner commented on #82
Why not? I went ahead and merged the change.

[2016-07-29 13:35] #82 closed

[2016-07-29 13:35] wadewegner commented on #83
Merged.

[2016-07-29 13:35] #83 closed

[2016-07-29 13:36] #106 closed

[2016-07-29 13:48] wadewegner commented on #107
Fixed: https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/5bec98ead34b291a82478314e795000e8d567858

[2016-07-29 13:48] #107 closed

[2016-07-29 13:48] #108 closed

[2016-07-29 13:49] wadewegner commented on #112
Closing this. If it's something we should still consider please let me know and we can take a look.

[2016-07-29 13:49] #112 closed

[2016-07-29 16:46] wadewegner commented on #147
@jflarente Do you have any code you can share? I'm happy to explore adding it. If I have to start from scratch, it'll take a bit longer. ;-)

[2016-07-29 17:17] imnxllet commented on #34
Hi, I am having the same issue too.
`<Error><Message>An error has occurred.</Message><ExceptionMessage>Unexpected character encountered while parsing value: <. Path '', line 0, position 0.</ExceptionMessage><ExceptionType>Newtonsoft.Json.JsonReaderException</ExceptionType><StackTrace>   at Newtonsoft.Json.JsonTextReader.ParseValue()
   at Newtonsoft.Json.JsonTextReader.Read()
   at Newtonsoft.Json

[2016-07-29 17:20] wadewegner commented on #34
A fix recently went in to handle this better. However, underlying it is an authentication error. Use a tool like Fiddler to look at the trace to see what's happening and share the results please.

[2016-07-29 17:20] imnxllet opened #206 "Login using WebServerOAuthFlow failed"
When I run the project, and click login, I got this

`<Error>
<Message>An error has occurred.</Message>

<ExceptionMessage>Unexpected character encountered while parsing value: <. Path '', line 0, position 0.</ExceptionMessage>

<ExceptionType>Newtonsoft.Json.JsonReaderException</ExceptionType>

<StackTrace>   at Newtonsoft.Json.JsonTextReader.ParseValue()
   at Newtonsoft.Json.JsonTextReader.Read

[2016-07-29 17:21] imnxllet commented on #34
ok thanks, I will try

[2016-07-29 17:23] imnxllet commented on #34
And also, when I try to run the SimpleConsole project, looks like I can't get through,

`Authenticating with Salesforce
One or more errors occurred.
   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceled
Exceptions)
   at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationTo
ken cancellationToken)
   at System.Threading.Tasks.Task.Wait()
   at SimpleC

[2016-07-29 17:24] imnxllet commented on #34
Do you know what can be causing this, I already provided the corrent info(consumer key, secret, username....) in the app.config

[2016-07-29 17:30] wadewegner commented on #34
No, I don't know what's causing this. You need to debug. Easiest way is to capture an HTTP trace and look at the exact message coming from Salesforce.

[2016-07-31 22:26] masaab commented on #196
Looks good to me.

[2016-08-02 15:20] cluedindev opened #207 "Serializable Exceptions"
Hi,

Can we make the exceptions serializable?

Type 'Salesforce.Common.ForceException' in Assembly 'Salesforce.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9f7864e53fb79388' is not marked as serializable.

Thanks,

- Tim

[2016-08-02 19:16] CraigStuntz commented on #206
Your login failed, and the Toolkit is attempting to parse the HTML returned by the token request endpoint as JSON. Look at the request in Fiddler for more information. You'll probably see an internal error which *might* mean you need to whitelist your IP in Salesforce.

[2016-08-02 19:49] CraigStuntz commented on #206
To be clear, since similar issues have been repeatedly closed here: This is a bug in the toolkit. You can work around it by changing your request to not get an authentication error from SF, but the toolkit ought not to attempt to parse HTML as JSON.

[2016-08-02 22:43] wadewegner commented on #206
Totally agree, @CraigStuntz. Recently tried to fix this bug here: https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/b01650f91897081deef04cba31d16cab09ef2c7a. Do we have a repro that I can use to fix any further issue here?

[2016-08-03 01:43] CraigStuntz commented on #206
@wadewagner I can consistently reproduce the exception if I don't use TLS 1.2 (i.e., use SSL v3, which isn't supported) and then request a token from Salesforce. This produces an internal error (500) HTML response, which the Force Toolkit attempts to parse as JSON (same stack trace as original issue reported above.

[2016-08-03 01:53] CraigStuntz commented on #206
@wadewegner Reviewing that commit, I see a couple areas for improvement. Simply rethrowing a new exception with the same message isn't going to make developers any less confused. People will continue to make duplicate reports here.

One thing which might make sense is to detect if TLS or SSL is in use and add a specific message if appropriate.

Another thing which would make sense is to use the co

[2016-08-03 02:03] wadewegner commented on #206
Good feedback. I'll work on it. In particular, thanks for the idea around TLS 1.2 -- definitely something I too can reproduce.

[2016-08-03 04:03] wadewegner commented on #187
What is UAP?

[2016-08-03 09:47] arnigunnar commented on #201
Hi. Just wanted to drop a comment, although this is a closed issue. I was expecting the same behaviour as the OP and in the response the RefreshToken was empty, and when I updated the nuget package, all was good. Well done!

[2016-08-03 13:28] CraigStuntz commented on #206
One other code change I think might help is to change all the demo projects in [this folder](https://github.com/developerforce/Force.com-Toolkit-for-NET/tree/master/samples) to use TLS 1.2, as lots of people probably follow those examples.

[2016-08-04 19:48] iDev0urer commented on #187
@wadewegner It's the windows Universal App Platform

[2016-08-04 20:17] wadewegner commented on #193
Confirmed this is not part of the REST API. However, you could consider building an Apex class to do this with minimal effort.

[2016-08-04 20:17] #193 closed

[2016-08-09 18:48] pozil opened #208 "Force TLS version to at least 1.1"
By default .NET uses TLS 1.0 but since Summer 16, connections are only allowed with TLS 1.1 or above.

When testing the console sample app, connections using TLS 1.0 will be rejected with a really unclear error message: "retry your request".

Please add a test to prevent the connection being established with an insufficient TLS version or force a default version.

[2016-08-10 10:40] avesse opened #209 "Ability to customize Select List when using QueryByIdAsync<T>()"
This is really just a consolidation of issues #171 #174 #179.

We need the ability to customize what goes into the SELECT list for the SOQL query for ForceClient.QueryByIdAsync<T>().

[2016-08-10 10:49] avesse commented on #209
Created pull request which should resolve this - https://github.com/developerforce/Force.com-Toolkit-for-NET/pull/210

[2016-08-10 11:58] avesse opened #211 "Make ForceClient._serviceHttpClient protected"
Can we make ForceClient._serviceHttpClient protected rather than private, so that ForceClient can be extended with additional methods?

[2016-08-11 04:02] watzon opened #213 "Using this to deploy a zip package"
I'm wondering if a method exists for this and I just missed it. In JSForce it's the Metadata.deploy() method, but what I'm looking for is a way to deploy a zipped package with a package.xml file in it.

Ex: a zipped version of the following

[code]

[2016-08-12 16:35] rjiang9 opened #214 "WiKi - Sample code wrong function name?"
In 'Getting Started' section:

**Username-Password Authentication Flow**

`var auth = new AuthenticationClient();
await auth.UsernamePassword("YOURCONSUMERKEY", "YOURCONSUMERSECRET", "YOURUSERNAME", "YOURPASSWORD");`

`UsernamePassword` should be `UsernamePasswordAsync`. Shouldn't it?

[2016-08-19 14:19] mp3tobi commented on #195
Thanks for the hint about nullable operator.

[2016-08-19 15:16] jcalabro commented on #208
To be clear, .NET < 4.5 uses TLS 1.0, you should be set if you use >= 4.6. I do not, and needed a very quick (non-portable) solution to the problem, [maybe it can help you out for the time being](https://github.com/ComposableAnalytics/Force.com-Toolkit-for-NET)? If not no worries, this should really be fixed in the main repo though.

[2016-08-19 15:17] wadewegner commented on #208
@jcalabro Why fork and not submit a pull request with fixes for others to use?

[2016-08-19 15:17] wadewegner commented on #208
@pozil That's a good suggestion.

[2016-08-19 15:20] jcalabro commented on #208
I ruined the portability of it, and I don't currently have the time to make a portable solution unfortunately :/

[2016-08-19 15:22] wadewegner commented on #208
@jcalabro Understood. If you'll point out the significant updates I'd be happy to take them into consideration and update if possible (while keeping it portable).

[2016-08-19 15:45] jcalabro commented on #208
Certainly. Qucik note, I renamed the projects and removed the ones I didn't need in the fork to avoid confusion about which .dll I'd be referencing in my projects in the future, sorry if that throws you off.

[This was a very helpful SO post](http://stackoverflow.com/questions/38647591/error-with-salesforce-authentication-from-c-sharp-clients) that got me pointed in the right direction (I spent a

[2016-08-19 15:47] pozil commented on #208
Unfortunately, I ended up working on a legacy .NET version (2.0) so I had to give up using this integration project.

However before realizing that the .NET version would be an issue I came to the same conclusion

[2016-08-22 14:41] kevmcivor opened #215 "Execute multiple requests in a single API call - support for Composite Resources"
It is possible to Use the Batch resource to execute multiple requests in a single API call

https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_composite_batch.htm#topic-title

Can support for this be introduced to the toolkit?

[2016-08-22 21:25] kevmcivor opened #216 "Change IAuthenticationClient interface to public"
Can IAuthenticationClient interface changed to public so that it is easier to mock and support DI

[2016-08-24 08:38] seankearon commented on #215
+1 - that would be really useful.

[2016-08-24 12:09] bhallaheemanshu opened #217 "How To get customers and opportunities info through API"
I want to get customers info and opportunities info by consuming Salesforce api . Is this possible ?

[2016-08-24 12:56] seankearon commented on #215
Actually, I think the link to the docs is this one, or have I missed something?

https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_composite_sobject_tree_flat.htm

[2016-08-25 05:19] bhallaheemanshu opened #218 "Is There Any API For Create Support Issues and Get Updates ?"
does salesforce provide any api for creating support issues directly from api and get updates on that particular support issues ?

I could't find i thought i may be missing it

[2016-08-25 05:52] bhallaheemanshu opened #219 "How To Get SecurityToken ?"
**I have seen Password is concatinated with SecurityToken But how can i get SecurityToken**

private static readonly string SecurityToken = ConfigurationManager.AppSettings["SecurityToken"];

   private static readonly string Password = ConfigurationManager.AppSettings["Password"] + SecurityToken;

[2016-08-25 05:55] wadewegner commented on #219
Here you go: http://lmgtfy.com/?q=salesforce+security+token

[2016-08-25 05:55] #219 closed

[2016-08-25 05:56] wadewegner commented on #218
I don't believe so. This SDK certainly doesn't.

[2016-08-25 05:56] #218 closed

[2016-08-25 06:00] bhallaheemanshu commented on #218
@wadewegner Thanks for the info . I appreciate your quick reply

[2016-08-25 06:01] bhallaheemanshu opened #220 "Is There any API To get Salesforce customers and opportunities info"

[2016-08-25 06:01] wadewegner commented on #218
If you have general questions I'd suggest you take them to the [Salesforce StackExchange](http://salesforce.stackexchange.com/). This repository is specific to the Salesforce .NET SDK.

[2016-08-25 06:02] wadewegner commented on #220
Please don't not use these issues for general questions. Kindly do your own research and ask questions specific to the .NET SDK here.

[2016-08-25 06:02] #220 closed

[2016-08-25 06:03] bhallaheemanshu commented on #218
@wadewegner  ok thanks I will be heading towards that LINK

[2016-08-25 06:03] wadewegner commented on #217
Please do not use these issues for general questions. Do your own research and use these issues for questions/issues specific to the .NET SDK.

[2016-08-25 06:03] #217 closed

[2016-08-30 09:31] relick89 commented on #34
Hello, I am having the same issue . It works fine on visual studio 2015 and iisexpress but when i deploy it on my server with windows server 2008 and iis 7.5 this error came out.

[JsonReaderException: Unexpected character encountered while parsing value: <. Path '', line 0, position 0.]
   Newtonsoft.Json.JsonTextReader.ParseValue() +1317
   Newtonsoft.Json.Serialization.JsonSerializerInternalRea

[2016-08-30 14:16] imnxllet commented on #34
Not sure if this helps, but put this line before the authentication:
ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

[2016-08-30 14:44] relick89 commented on #34
where exactly? im using oauth login.

[2016-08-30 14:46] imnxllet commented on #34
anywhere before creating the oauth i guess

[2016-08-30 15:09] relick89 commented on #34
nothing :( . why it works fine on iisexpress and after deploy come out this thing? it's really boring.

[2016-09-02 14:19] joaopaulonobrega commented on #34
@imnxllet
tnks man , you saved me, my error with sendbox:

`<ExceptionMessage>Unexpected character encountered while parsing value: e. Path '', line 0, position 0.</ExceptionMessage>`

solution : ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12 before UsernamePasswordAsync method in AuthenticationClient class.

Tnks

[2016-09-02 14:21] relick89 commented on #34
Thks solved today. Was a typo errore.

Il 02/set/2016 04:20 PM, "joaopaulonobrega" <notifications@github.com> ha
scritto:

[2016-09-07 20:45] richhosek commented on #208
Found the same solution as @jcalabro, except I placed it in the Global.asax for the Web App. I wasn't able to insert it into the PCL since it was missing a reference and I wanted a solution that I could use with the Nuget libraries right away.

[2016-09-08 16:14] cboseak opened #221 "sample code in readme is incorrect"
In the readme, one of the sections of code samples calls a method with an incorrect signature.

In the section of _"var client = new ForceClient(_consumerKey, _consumerSecret, _username, _password);"_ ForceClient does not have a constructor with a signature like this. The only option is _"var client = new ForceClient(instanceUrl, accessToken, apiVersion);"_

[2016-09-19 18:19] robertmclaws opened #222 "Client throwing exceptions instead of using Response.Success"
So, in looking at the ForceClient API and the different responses that are available, there is a "Success" flag and an Errors object.

In my experience actually using the client, however, those properties are totally useless. Because if there is an error during the request, the client throws an Exception that bypasses all of my code to handle the SuccessResponse object.

It appears that one of two

[2016-09-20 10:21] sergeylebed opened #223 "Sql (soql) injection in the QueryByIdAsync method"
This method is vulnerable by soql (sql) injection as it forms a string without any proper encoding or validation.

`public async Task<T> QueryByIdAsync<T>(string objectName, string recordId)`

` var query = string.Format("SELECT {0} FROM {1} WHERE Id = '{2}'", fields, objectName, recordId);`

It will be also good to provide parameters that are automatically properly encoded in `QueryAsync` and sim

[2016-09-27 20:55] GenZodd opened #224 "UsernamePasswordAsync always returns "authentication failure""
I am a bit confused on why I can't get UsernamePasswordAsync to work. I am trying to get a token from my test environment. I have the following values:
myConsumerSecret
myConsumerKey
myPassword (password + secret)
myUsername

When I post the data using PostMan I get an access token back and all is good.
https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=myConsumerSecre

[2016-09-27 21:03] GenZodd commented on #224
I am dumb. Started looking into the ClientAuth code only to see the overload to pass in the endpoint. Sorry saw that earlier on and spaced it.

[2016-09-27 21:03] #224 closed

[2016-10-13 06:34] brethren70 opened #226 "support sessionId (Authorization: OAuth)"
Can you support sessionId?
Login with Soap is convenient(only UserId and Password are needed)
So I want to login with soap and do other stuff with your toolkit.

Thanks in advance.

-=-=-=-=-=-=-=-=-=-=-=-=-=-=
_httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", accessToken);
----->
httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue

[2016-10-17 17:37] TJSoftware opened #227 "Trouble logging into sandbox due to TLS 1.1 requirement"
I am using your [SimpleConsole](https://github.com/developerforce/Force.com-Toolkit-for-NET/tree/master/samples/SimpleConsole) sample with the App.config modified to use my data.  The only modification to the code was to place a try catch around the `await auth.UserNamePasswordAsync(...`.

I was able to log onto our production without issue.  When I modify the URL to either `https://test.salesforc

[2016-10-18 16:31] TJSoftware commented on #227
Nevermind, when I forked your repo I noticed you are using a PCL, I did not notice that before.  ServicePointManager is in System.Net.

[2016-10-20 17:35] newky2k opened #228 "Add the ability to create multiple objects at once"
Add the ability to create multiple objects at once, something that is possible via the Rest API already.

https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/dome_composite_sobject_tree_flat.htm

[2016-10-20 19:13] joaopaulonobrega opened #229 "Deserialize a dynamic object from queryAll<dynamic> to Object"
How to descerialize a dynamic object from queryAllAsync(query) to object ? , my query has a parent relations, e.g

[code]

 it is possible? tnks

[2016-10-26 13:58] vyacheslav-lonschakov commented on #227
Thx, line below fixed error HTTP 400 Bad Request {"error":"unknown_error","error_description":"retry your request"} for me.

`ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls11;`

[2016-11-12 11:24] itsvkee commented on #229
`
 List<Dictionary<string, string>> listDic = new List<Dictionary<string, string>>();
 var cont = var queryResult = await context.QueryAllAsync<dynamic>(query.ToString());
                    foreach (var c in cont.Result.Records)
                    {
                        Dictionary<string, string> newDict = ((IEnumerable<KeyValuePair<string,   JToken>>)c).ToDictionary(kvp => kvp.Key, kvp => k

[2016-11-20 04:44] WiseLinProject commented on #56
The keypoint is the fuction Wait(); of auth.UsernamePasswordAsync(_clientId, _clientSecret, _username, _password).Wait();

I really found the answer from this article, thank you!
https://github.com/wadewegner/TechEd14SDK/blob/master/src/ConsoleApplication1/Program.cs#L19

[2016-11-21 22:51] migasj commented on #208
I have created a pull request (#231) which addresses this issue as well as a couple others I ran into getting this project running.

[2016-11-22 10:31] joaopaulonobrega opened #232 "How to check if token is expired in ClientForce object?"

[2016-11-23 12:54] StingyJack opened #233 "await auth.UsernamePasswordAsync()... never returns when encapsulated"
I have been able to use the examples and had this working, and then started doing a bit of refactoring. Part of that was to encapsulate the ForceClient and login related stuff to its own method as it was repeated code in several methods.

It looks something like this...
[code]

The problem i have now is that this await never completes. I have been able to get around it by changing the await statem

[2016-11-23 13:01] avesse commented on #233
Are you using this in a web app? If so, try
`await auth.UsernamePasswordAsync(ConsumerKey, ConsumerSecret, Username, Password, url).ConfigureAwait(false);`

[2016-11-23 13:19] StingyJack commented on #233
@avesse yes, and that worked. Thanks!

I'll do some research to find out more details.

[2016-11-23 13:19] #233 closed

[2016-11-23 16:12] avesse commented on #233
No problem. Yeah, do some research on `.ConfigureAwait()`. You probably want to use this for all async calls in your web app.

[2016-11-24 04:33] mguinness commented on #196
Just tried package in a .NET Core project and got the following message:

Package DeveloperForce.Force 1.3.2 is not compatible with netcoreapp1.1

Is there any timeline for a core version?  Is there a working fork anywhere?

[2016-11-24 04:39] masaab commented on #196
Try the following in your project.json.
[code]

[2016-11-24 04:53] mguinness commented on #196
@masaab - yeah that would work, but it would require the full framework.  I want a portable version that I can run on any platform like OSX/Linux.

[2016-11-25 15:42] StingyJack commented on #196
I know microsoft has several tables that explain this stuff, but its a bit confusing when you get messages like `Package DeveloperForce.Force 1.3.2 supports: net (.NETFramework,Version=v0.0)`. I'm not sure that version "0" means "full framework required" or my VS/Tools/Dnx are broken.

I used a similar config to get this to work.
[code]

[2016-11-25 21:53] mguinness commented on #196
@StingyJack Altering the target framework forlder in the nuspec file should resolve this issue.

https://github.com/developerforce/Force.com-Toolkit-for-NET/pull/234

[2016-12-04 17:46] StingyJack commented on #227
I was getting this today and it was because the url I had been using (from the examples) no longer works.

used this before recently..

only this works now

the capitalized Token makes salesforce return a 404.

[2016-12-06 20:43] cwharris commented on #196
@wadewegner The Portabilty report only tests whether or not the code itself is portable. It does not test the distribution method of the code. The code is 100% compatible, but the distribution method is 100% _incompatible_. Do you have plans to update the build targets to point at the most portable versions of .NET, so we can utilize this code using .NET Core on Mac and Unix? Microsoft is making a

[2016-12-16 01:32] marknadig opened #235 "Time to deploy 1.3.3?"
Last drop to nuget was July.  Thanks for considering.
Mark

[2017-01-04 16:10] tomlyner commented on #235
This would be useful. Especially the change which made `IAuthenticationClient` public.

[2017-01-04 17:13] marknadig commented on #235
@wadewegner what say you?

[2017-01-04 18:18] wadewegner commented on #235
Let's do it. =)

Just need a few days and I'll get to this!

[2017-01-06 17:07] AlicePain opened #236 "Is it possible to retrieve an attachment in the Body"
I'm able to save and update attachments via the Attachment model.  I can view the documents in salesforce, but I cannot retrieve the attachments.
Using the following code

`                var client = await SalesforceService.GetUserNamePasswordForceClientAsync();
                var att = await client.QueryByIdAsync<Models.Attachment>("Attachment", param.Id);
`

The following error is thrown
"The

[2017-01-09 05:12] wadewegner commented on #235
I'm sorry, friends! It's been way too long.

I just merged a pretty big update that supports the bulk API. So, before just pushing it out, figured I'd release a beta. Give it a go?

https://www.nuget.org/packages/DeveloperForce.Force/1.4.0-beta
https://www.nuget.org/packages/DeveloperForce.Chatter/1.4.0-beta

Thanks!

[2017-01-17 19:55] indyHarcourt commented on #190
Any further take on this?  I'd love to see a working example of the ExecuteRestApiAsync.
Thanks.

[2017-01-18 09:45] mp3tobi opened #237 "Setting DateTime Values with a value back to NULL"
Hi.
Sometimes I need to set a DateTime Field, which has at the moment a value like "2017-01-13", back to NULL.
If I try to set it like that, it will not get an error, but don't change it in Salesforce. :)

[code]

[code]

Is there a limitation on the side of salesforce? Or can I set back the value to NULL in another way?
With strings it's easy. Just setting it to "" :)
Integer and Double is also e

[2017-01-18 10:06] chippy opened #238 "Using .Result to run methods synchronously causes deadlocks"
I am using ForceClient in an ASP.NET MVC project. I have a Salesforce service called by my controllers which makes use of ForceClient. I have implemented all of these methods asynchronously, however in MVC 5, child actions can't be marked async, so in a few cases I have had to create a synchronous version of these methods which uses .Result as follows (the async versions are identical to this exce

[2017-01-26 16:30] wadewegner opened #240 "Update the default version"

[2017-01-30 20:04] joaopaulonobrega opened #241 "Refresh token best pratices"
Hi, what is the best pratice when i need refresh token but without lost my first request?
Or
How I do when my request has been lost because the token is expired and
refresh the token then contiue my workflow without lost my first request?

[2017-02-08 07:06] ddrinka commented on #196
@wadewegner If you look at folks who have forked this project, 3 out of the most recent 4 have been to add .Net Core support.  As @cwharris said, things are really ramping up on the cross-platform front right now.  My use case is Amazon Web Services' Lambda--essentially Amazon's version of Heroku.  As of January Lambda supports .Net Core, and I'm migrating applications over.  This library would be

[2017-02-16 16:30] yehia2amer opened #242 "BulkForceClient "CSV data type requests / responses" Support"
First of all Thanks a lot for adding Bulk API Support, it will help us a lot !
but most of the time users need to upload Bulk data using CSVs, so is there any plans to support it soon ?

[2017-02-22 15:29] brentpabst opened #243 "Custom Field Strongly-Typed Naming"
Hi,

We've got a boat load of custom fields in our org.  We are following most of the examples in terms of defining strongly-typed objects and then loading data into them from the SDK.  However, I would really like to follow clean and consistent naming practices in our strongly-typed object so instead of ```My_Custom_Field__c``` I could do something like this:

[code]

Perhaps I've missed how this

[2017-02-22 16:00] avesse commented on #243
You can use the [DataMember] attribute.

I've also got a pull request #210 pending which will let you use [JsonProperty] or any custom resolver for field names.

[2017-02-22 16:06] brentpabst commented on #243
@avesse Thanks, I wasn't able to get DataMember to work properly... values are null when run.

[code]

[2017-02-22 16:35] ddrinka commented on #243
@brentpabst Make sure your POCO is marked with [DataContract]

[2017-02-22 16:38] avesse commented on #243
@brentpabst What method are you running?

Just looked at the code again and it looks like `[DataMember]` is only used by the `QueryByIdAsync` method. The rest of the methods use Json.Net, so you should be able to use `[JsonProperty]` (although this will break `QueryByIdAsync`).

[2017-02-22 17:50] brentpabst commented on #243
This works:

[code]

I think the reason I didn't think it was working when I tried it before is that we are logging the objects back out to stdout using ```_logger.Debug(JsonConvert.SerializeObject(record));``` and the JSON serialization works both ways so you won't see the strongly-typed name when logged, just the SF field name. That's a little crappy when troubleshooting but at least our POCOs w

[2017-02-22 17:51] #243 closed

[2017-02-23 11:45] avesse commented on #241
@joaopaulonobrega Can I assume here that you're using the username/password auth method?

I'd recommend an auto-retry strategy. Here's the class I use to accomplish this, feel free to use. I use it as a wrapper for the `ForceClient` class. Note that `SalesforceSettings` is a custom object containing the required settings.

[code]

[2017-02-23 16:17] joaopaulonobrega commented on #241
Hi @avesse , yea, i am using username/password auth method, tnks so much by your answer, i am testing your code now.

[2017-02-24 02:48] marknadig opened #244 "How to detect invalid_client_id in oauth flow?"
My web application follows the example in WebServerOAuthFlow to initiate a traditional oauth flow. In my application, the user enters their client_id and secret and then initiates the oauth flow which opens a new browser window (window.open()) pointing to Salesforce to start the flow, the following url for example:

https://login.salesforce.com/services/oauth2/authorize?response_type=code&client_i

[2017-02-27 14:03] mp3tobi commented on #237
Well, I just set it to "30.11.1899" and got a trigger on salesforce, which checks if the Value is "30.11.1899" and set it back to NULL.
There is no way to set the DateTime Value to NULL via the REST Api. :(

[2017-02-27 14:03] #237 closed

[2017-02-27 14:07] #195 closed

[2017-02-27 14:18] mp3tobi opened #245 "InstanceURL = null sometimes but internet connection is ok."
Has anybody an idea, why I sometimes got an error with ending in `auth.InstanceUrl = null` ?
I just login to Salesforce every 15 Minuten around 15 times because I got 15 methods which login everyone individually since I got no idea how pass the session from one object instance to another.

But sometimes my computer got an internet connection but maybe failed to logon to Salesforce and ended up in

[2017-03-07 12:12] avesse opened #246 "BulkForceClient on nuget"
We've got the latest version of the nuget package installed (1.3.2) but can't find the `BulkForceClient` in there. Is the nuget package out of date?

[2017-03-07 14:05] avesse commented on #246
(Also couldn't find it with a search in the repo, so not sure what code the readme is referring to...?)

[2017-03-17 18:39] scrazzymoto opened #247 "Mass Record Update w/ WHERE"
I've poked around but haven't been able to find a satisfactory answer to what I'm looking for, apologies if this has already been addressed. My org has a bunch of opportunity objects that we need to do a very simple update to. Basically, if they opportunity "type" is not equal to the word "Conversion," then we need to update the type to "Project." Simple enough, but all of the UPDATE examples I ha

[2017-03-17 19:25] sjones538comcast commented on #34
Hi All,
There are a few things that may cause Salesforce API integration login errors like "authentication failure" and "nexpected character encountered while parsing value: e. Path...". Here is check list to ensure a guaranteed solution:
1. Make sure you are passing the token URL into the AuthenticationClient.UsernamePasswordAsync if you are appending an security token with your password.
2. Make

[2017-03-20 12:55] mp3tobi commented on #246
It's at the moment only a beta version: https://www.nuget.org/packages/DeveloperForce.Force/1.4.0-beta
But I don't know how to install this beta via nuget. :(

[2017-03-23 10:50] scastaldi commented on #196
@wadewegner great job with this plug-in, do you think it would be possible for you to make the SimpleConsole sample in dotnet core? me as well as many others in this thread are trying to use dotnet core from Linux. I will try @masaab solution but I don't feel confortable even if it works, referencing net45, the whole idea of using core is to keep it light.
In my case I'm new to core and linux, wou

[2017-03-23 18:20] mguinness commented on #196
@scastaldi if you reference net45 on Linux, you'll need Mono installed.  Otherwise using .NET Core requires libraries targeting .NET Standard and/or PCL, see [this answer on SO](http://stackoverflow.com/a/39721733/310601).  A possible solution is for the authors of this PCL library to target portable-net45+win8.

[2017-03-24 15:04] scastaldi commented on #196
**# Good new guys!**
I was able to run the SimpleConsole code **in my Ubuntu VM without installing Mono!!!**
When I get a little more time I will create a branch and give the sample code to @wadewegner  so we can have a supported sample in dotnet core. I want to spend a little more time to change the configuration from appconfig to  Secret Manager tool, so we don't expose sensitive information

Fo

[2017-03-29 16:39] danbarua commented on #238
Try`.GetAwaiter().GetResult()` to avoid deadlocks inside sync methods.

[2017-04-07 20:53] #247 closed

[2017-04-14 17:30] rdev5 commented on #246
I'm in the process of writing my own BulkForceClient as well.

Seems to be unimplemented in ForceToolkitForNet at this time as their [JobInfo class](https://github.com/developerforce/Force.com-Toolkit-for-NET/blob/master/src/CommonLibrariesForNET/Models/Xml/JobInfo.cs#L18) only contains a fraction of what the actual documentation specifies: https://developer.salesforce.com/docs/atlas.en-us.api_asy

[2017-04-14 18:30] rdev5 commented on #246
Done: https://gist.github.com/rdev5/df5c5b3c359a9758c40d031363576b90

For now at least - I'm able to create batch upsert jobs, specifying which field will be my `externalId`. The primary "enabler" for being able to create this was to expose `_xmlHttpClient` and `_jsonHttpClient` as `protected` in `ForceClient.cs` [here](https://gist.github.com/rdev5/df5c5b3c359a9758c40d031363576b90#file-forceclien

[2017-04-14 18:52] rdev5 commented on #242
See PR https://github.com/developerforce/Force.com-Toolkit-for-NET/pull/248

[2017-04-14 18:55] rdev5 opened #249 "Build Failing"
Can we get builds passing again so we can see if our PRs are building?

https://travis-ci.org/developerforce/Force.com-Toolkit-for-NET/pull_requests

[2017-04-16 19:24] sticksbs opened #250 "setting the CallOptions client"
I can't seem to find a way to set the CallOptions, so that client id can be set; purpose being when using the 'API Calls Made Within Last 7 Days' report the client id would be populated rather than being blank

[2017-04-16 19:28] sticksbs commented on #250
I'm guessing this is because it's not available through the rest implementation that is used here, vs the Partner WSDL?

https://developer.salesforce.com/docs/atlas.en-us.api.meta/api/sforce_api_header_calloptions.htm

[2017-04-27 22:12] masaab opened #252 "Create Email Notification when new Lead is generated"
Hi
I am trying to create Email notification on Lead generation. Previously It was done through salesforce workflow now I need to implement AssignmentRuleHeader to send email Motification. Do we have this feature in this library.

[2017-05-02 15:55] archit38 opened #253 "Two way integration"
Hi,
Is there any possibility to have my application updated when say an account is added on salesforce?

[2017-05-26 09:48] rumatavz commented on #197
How can I set some field to null after this changes?

[2017-06-01 16:20] balajichekka opened #256 "How to connect salesforce reports"
i see there no method for calling reports.
is there any way to achieve it?

This GET request to the Execute Sync resource,
/services/data/v35.0/analytics/reports/00OR0000000K2UeMAK?includeDetails=true

[2017-06-14 03:46] ddrinka commented on #190
Could you create API overloads with an `out ApiLimit`, which is set to null if not provided by the response, but is filled in if it's available in the headers?  There's not so many methods exposed so it might be a reasonable surface area to adjust.  It'd be great to have the utilized _and_ the available API counts provided by the header.

[2017-06-15 17:21] jamesborza opened #259 "authentication failure with UsernamePasswordAsync"
Following code throws an exception every time: "authentication failure"

ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12 | SecurityProtocolType.Tls11 | SecurityProtocolType.Tls;
var auth = new AuthenticationClient();

try
{
   await auth.UsernamePasswordAsync(_consumerKey, _consumerSecret, _userName, _userPassword);
}
catch(Exception ex)
{
   Debug.WriteLine(ex.Message);
}

I set

[2017-06-15 17:35] jamesborza commented on #259
**Fixed**

If anyone runs into this, for the connection app I had to update the "IP Relaxation" setting to "Relax IP Restrictions". This issue can be closed.

[2017-06-15 17:35] #259 closed

[2017-06-19 20:56] joshbrekke opened #260 "QueryAsync hangs on synchronous call (.Result)."
ForceClient forceClient = new ForceClient(_InstanceURL, _AccessToken, _ApiVersion);

var accounts = forceClient.QueryAsync<QueryResult<dynamic>>("select Id from Account LIMIT 5").Result;
__________________________________________________________________________________________________________________

Does anyone know why the client connects but doesn't return the query results?

Thanks,

Josh

[2017-06-20 19:50] joshbrekke commented on #238
Hey chippy,

This definitely seemed to fix the deadlock I was having as well with querying.

Thanks!

Josh

[2017-06-20 19:51] #260 closed

[2017-06-27 07:28] avesse opened #261 "Creatable/Updatable attributes don't work on properties with a custom JsonProperty name"
Example:
[code]

The `CreateableContractResolver` and `UpdateableContractResolver` will not work in this case, since it's comparing the wrong property names. This can be fixed by replacing
[code]
with
[code]
in those two classes.

[2017-06-27 17:16] hukllachay opened #262 "Salesforce is requiring an upgrade to TLS 1.1 or higher by July 22, 2017"
Hi

Just to confirm if the latest version already address the TLS 1.1 or higher  requirement of Salesforce?

https://help.salesforce.com/articleView?id=Salesforce-disabling-TLS-1-0&language=en_US&type=1

Thank you

Limber jaimes

[2017-06-28 12:42] avesse commented on #262
As far as I know, no. Our workaround is to call the following before calling `AuthenticationClient` methods:
[code]

[2017-07-10 16:57] KE7 opened #263 "Not all async methods in ForceClient are implemented asynchronously"
Multiple methods in the ForceClient are not implemented asynchronously despite having asynchronous method names.

For example, in ForceClient.cs, there is a method declared as:
`public Task<QueryResult<T>> QueryAsync<T>(string query)`

QueryAsync implies that it queries asynchronously however it is currently done synchronously. Many methods in that file suffer the same issue.

The correct definiti

[2017-07-14 12:21] StephenDoherty opened #264 "Unsucessful Using QueryAsync with Sub-Query"
Hello,
I seem to be having issues using the QueryAsync function when I add a Sub-Query. I have seen other users with issues that have been resolved on this forum but I cannot seem to get the SubQuery results back in one statement.

I am going to lay out all the details here in hopes of getting help in making it work and helping others that may have a similar issue.

There are 2 custom objects invo

[2017-07-14 13:42] StephenDoherty commented on #264
OMG! After this long post and trying more angles I seem to have got it to work.
Here is what worked for me. It seems to be in the naming of the second class that it needs to be the exact name as the sub query object to work correctly.

So the second class becomes
[code]

The change needed here was renaming the subquery object from
[code]
to
[code]
If you didn't catch it, it is the addition of the

[2017-07-14 13:42] #264 closed

[2017-07-14 13:44] rsalit1516 opened #265 "Support for newer versions of .NetFramework"
I was trying to install via Nuget in a project that is using 4.5.2 and it would not let me. Are there plans to support current version of .Net?

[2017-07-17 14:05] FrontLineMedia commented on #265
I'm working in 4.6.2 and it's working so it does support the current version

[2017-07-21 14:41] talbotmcinnis commented on #197
Indeed.  How do we now clear a nullable datetime field!?

[2017-07-26 10:14] pynechan opened #266 "504 Gateway timeout Issue"
Hello Everyone,

I would like to request assistance if we can catch 504 gateway timeout issue as the API don't return value from this error.

[2017-07-31 19:50] talbotmcinnis commented on #250
I would also appreciate this feature for the very same reason.  If not public facing, at least default to runningassembly.name or something better than blank.

[2017-08-07 09:35] DavidDeSloovere commented on #262
Latest version is broken without this workaround! Using the sample WebServerOAuthFlow.Web project, just adding @avesse 's line of code in `CallbackController.Get` will work.

Also, the client doesn't handle the HTML response page about the TLS error because it only parses json.
https://github.com/developerforce/Force.com-Toolkit-for-NET/blob/313c4b9106b9a0f9779d42514189addc713799a5/src/CommonLibra

[2017-08-08 16:56] dodegaard commented on #196
@wadewegner I am working deep on .NET Core on things SF related and once the dust settles I will try to look at helping with a port.  Will be in touch. Let me know if we have any key people already on it.

[2017-08-08 17:55] mguinness commented on #196
My recommendation would be for the new port to target .NET Standard 2.0 which is just around the corner (Q3 2017).  Although that limits use to .NET Core 2.0 it's a better long term solution and there is always this library to support earlier versions.

[2017-08-11 15:00] mjnorman opened #267 "SSIS job with Connected Service SalesForce failes to build"
Reproduction:
Environment: VS2015 with SSDT 2015.
steps:

1. Existing SSIS project.
2. Create Script component by dragging from toolbox onto Data flow.
3. Edit the Script component to open VSTA.  Leave script component empty to confirm project builds correctly.
4. Edit Script component again, and from solution explorer right click references, add connected service, select Salesforce Data Services

[2017-08-24 22:13] ngallegos commented on #197
@wadewegner, do you have an answer on how to set a field to null after this change?  I've tried setting the fieldsToNull property to an array of the field names I want to set as null as described [here](https://developer.salesforce.com/docs/atlas.en-us.api.meta/api/sforce_api_calls_concepts_core_data_objects.htm#i1421117), but SalesForce just returns an error saying that the 'fieldsToNull' column

[2017-08-31 05:48] bogomal commented on #94
@wadewegner I had the same problem and your comment on using the dynamic guided me in the right direction. This is a longish way of doing things - but it works. Thanks.

[2017-09-08 09:44] gconry18 commented on #197
@ngallegos I spent the day looking at this for our companies integration. fieldsToNull seems to be for the SOAP API and not the REST API that this toolkit uses.
For the rest API you can include the null in the json, however, the toolkit is designed to not add any null value fields to the json so that partial updates are possible. You can just use a blank string as the value which should clear out

[2017-09-11 09:40] gconry18 commented on #197
@wadewegner @rumatavz @talbotmcinnis @ngallegos
I have created pull request #268 which allows you to specify whether or not null columns should serialize and be sent to the API.

[2017-09-11 14:46] ngallegos commented on #197
@gconry18, looks great! Thanks for looking into this.

[2017-09-19 04:39] vonvillaruel opened #271 "Missing Salesforce.Force.dll"
I'm trying to run the SimpleBulkConsole project and already added the ForceToolkitForNET as the reference. When I running the build solution, this error below is showing. I'm not a .net developer your response will be helpful.
Metadata file 'C:\Users\von.c.v.villaruel\Desktop\DotNet\SimpleBulkConsole - Copy\ForceToolkitForNET\bin\Debug\Salesforce.Force.dll' could not be found

[2017-09-24 13:34] kostyrin opened #272 "Streaming Api"
Hello, do you have plans for implementation of the Streaming API ?

[2017-09-26 14:12] grahamthesmith opened #273 "External Id for Bulk Upserts"
Is it possible to provide a custom/external field name when performing bulk upserts, like you can when doing individual upserts:

        `public Task<SuccessResponse> UpsertExternalAsync(string objectName, string externalFieldName, string externalId, object record)`

[2017-09-27 10:17] grahamthesmith commented on #273
For anyone else looking for a solution to this, you just need to add externalIdFieldName into the JobInfo:

[code]
And then populate it wherever you need to use it:

[code]
See [(https://salesforce.stackexchange.com/questions/14740/how-to-perform-upsert-in-salesforce-bulk-api)]

[2017-09-27 10:17] #273 closed

[2017-09-27 11:44] AharonShachar opened #274 "app stopped authenticate Salesforce"
Yesterday I saw that the Dll failed authenticate SalesForce. The error I get is:

Message "authentication failure"
Error InvalidGrant Salesforce.Common.Models.Error

it use to run perfectly - any idea why Im getting this now?

No change has done with the user credentials.

[2017-09-27 12:01] AharonShachar commented on #274
related to [https://github.com/developerforce/Force.com-Toolkit-for-NET/issues/262](url)

[2017-10-16 16:38] afkhalid commented on #274
Try this completely

http://www.calvinfroedge.com/salesforce-how-to-generate-api-credentials/

[2017-10-19 00:24] mguinness commented on #196
@wadewegner Is there a roadmap for supporting .NET Core?  Now that .NET Standard 2.0 is out with it's expanded API surface it would seem like a good opportunity to release a version supporting both .NET Core 2.0 and .NET 4.6.1 framework.

[2017-10-25 16:19] pandreason commented on #273
@grahamthesmith  So , you are suggesting that we fork the repo if we want to actually be able to use the bulk upsert functionality that appears to be exposed by this repo?

[2017-10-25 16:22] grahamthesmith commented on #273
You only need to do this if you are using a custom id field. If you need to use a custom id field then yes just add code as described to the JobInfo.

[2017-10-25 16:42] pandreason commented on #273
This is just my opinion, but I think the right thing is not to expose the upsert functionality at all since the Salesforce Bulk Api Upsert requires the External ID and is therefore useless in the current implementation. Another solution would be to make a bulk operation method for operations where you want to use an externalId since sometimes you won't want to use the eternalID. Editing the jobinf

[2017-10-27 14:41] DavidVeksler opened #275 "DeveloperForce 1.3.2 Incompatible with .Net 4.6.1"
Reproduced using a new 4.6.1 project:
[stacktrace.txt](https://github.com/developerforce/Force.com-Toolkit-for-NET/files/1422398/stacktrace.txt)

This fails:
`ForceClient client = new ForceClient(auth.InstanceUrl, auth.AccessToken, auth.ApiVersion);`
Because of this error:
"Method not found: 'Void Salesforce.Force.ForceClient..ctor(System.String, System.String, System.String, System.Net.Http.HttpC

[2017-10-27 15:05] DavidVeksler commented on #275
Update: confirmed that this is fixed in the 1.4 beta.
Unfortunately, my team spent two days on this issue before discovering this.

[2017-10-30 08:58] lazzDk commented on #196
Yes - It would be very much appreciated with .NET Core support

[2017-11-02 18:52] ackonsult opened #276 "File Upload with Chatter API"
Hi,

I'm struggling with uploading files to chatter, related to a specific object. Does anybody have a working example for this?

Best Regards

[2017-11-03 14:37] prices1964 opened #277 "using client.RunJobAndPollAsync"
Hi

I have downloaded and used this wonderful library for months and its great. I want now to use the Bulk Upload methods but I do not see the RunJobAndPollAsync on my ForceClient object. I am using 1.3.2

Any help appreciated

Thanks

Steve

[2017-11-06 16:57] mrrobdlon opened #278 "ForceClient.QueryByIdAsync<T> does not support the exclusion of relationship fields"
We have models that include fields such as MyFavouriteUser__r

We need these fields on our models when performing write operations.

When ForceClient.QueryByIdAsync<T> is used with a T that includes relationship fields, it raises an exception.

Is there a way to prevent this, other than removing the properties from the model class?

Looking at the code for the method it would seem feasible to impl

[2017-11-10 00:09] lazoras commented on #274
I'm having this issue too. i can get the request to succeed in postman, but i cant get it to succeed using this library.

[2017-11-21 10:16] avesse opened #279 "Is this repo abandoned?"
Last commit is nearly a year ago, pull requests are not getting approved or rejected, and the nuget package, as it stands, does not support bulk operations or the latest TLS requirements from Salesforce.

Does Salesforce intend to support a .NET client going forward?

[2017-11-21 14:52] marknadig commented on #279
Perhaps reach out to Wade Wegner?
https://developer.salesforce.com/blogs/developer-relations/2014/01/announcing-the-salesforce-toolkits-for-net.html

[2017-11-29 21:22] mailbala opened #280 "Nuget package doent give option to use Bulk operations"
We want to use BulkCreate options which is not available in the current nuget version. When will it get released to nuget

[2017-12-04 20:02] tj2480 commented on #279
@wadewegner is this going to be supported going forward?

[2017-12-12 19:51] psmak4 opened #281 "Unexpected character encountered while parsing value: <. Path '', line 0, position 0."
I get this error doing the WebServer OAuth flow in my callback.
`var consumerKey = ConfigurationManager.AppSettings["SalesForceConsumerKey"].ToString();
var consumerSecret = ConfigurationManager.AppSettings["SalesForceConsumerSecret"].ToString();
var callbackUrl = ConfigurationManager.AppSettings["SalesForceAuthorizationCallbackUrl"].ToString();
var tokenRequestEndpointUrl = ConfigurationManager.A

[2017-12-12 20:53] psmak4 commented on #281
After digging into this a bit more, I'm finding the response being sent back to my server is a HTML page that says "Stronger security is required" and "To access this website, update your web browser or upgrade your operating system to support TLS 1.1 or TLS 1.2.". The problem is I'm using Chrome 63 with TLS 1.1 and 1.2 enabled. What am I missing here?

[2017-12-13 06:13] avesse commented on #281
This might be useful: https://github.com/developerforce/Force.com-Toolkit-for-NET/issues/262

[2017-12-13 16:32] psmak4 commented on #281
Yes! That worked. Thank you so much.

[2017-12-13 16:32] #281 closed

[2017-12-13 18:19] rdev5 commented on #279
@avesse See also https://github.com/developerforce/Force.com-Toolkit-for-NET/pull/248 for an implementation of a new `IBulkForceClient` interface. We're still using it in the interim.

[2017-12-13 18:30] rdev5 commented on #280
You can also see if #248 helps any.

[2017-12-28 19:54] alcidesfmelof commented on #277
I have the same issue. How to use the RunJobAndPollAsync?

[2018-01-16 08:53] markkesty opened #282 "QueryContinuationAsync never returns"
I am using your toolkit to retrieve more than 2,000 records from Salesforce. I call QueryAsync and get back the first 2,000 records. The "Done" flag is false. I then call QueryContinuationAsync<T>(result.NextRecordsUrl); and the call never returns.

I tried the same call from Postman and it continues to return all the records until the end on subsequent calls.

Here is my code:
[code]

(I left out

[2018-01-19 06:49] star84 opened #283 "how to set web proxy ?"
In company, we use Intranet network, how to set  web proxy to connect salesforce by use this.

[2018-01-22 14:23] markkesty commented on #282
Anyone?

[2018-02-01 23:28] wolfen351 commented on #96
I'm also having this issue  - query works fine and insert fails. I have copied and pasted the code from the console app which was working. Same security etc. Could it be something external like IIS Express causing this?

ConfigureAwait("false") had no effect

[2018-02-01 23:29] wolfen351 commented on #96
I'm making an identical object to the console app, so I know it is not directly related to what data i'm sending, it has to be how i'm calling it, or something which differs in web api world

[2018-02-02 14:44] fanyang-ceg opened #284 "Can JsonHttpClient Be Exposed?"
I'm trying to upload attachment to an existing custom object, if we expose JsonHttpClient,  can we use HttpBinaryDataPostAsync to do so?

[2018-02-16 13:24] cemerson commented on #262
Thanks for documenting this - it got me up and running again as well.

[2018-02-20 16:12] talbotsimon19 opened #285 "Upsert Batch Job throws exception"
Needs XML field (externalIdFieldName)

[2018-02-20 16:14] talbotsimon19 opened #286 "[IMPROVEMENT] Batch Job pooling curve is linear and increase too quickly"
Should probably be logarithmic and top at 10 or 20 seconds

[2018-02-20 17:44] talbotsimon19 commented on #286
I sometimes have to wait 1 minute after the batch is completed to get the results

[2018-02-20 17:55] talbotsimon19 commented on #286
Something like (1000(log(x) + 1))

[2018-02-21 10:56] cemerson commented on #175
I think I have same question. As discussed in [this thread](https://developer.salesforce.com/forums/?id=906F0000000DApiIAG) - if your SFDC has a custom namespace does this framework automatically inject that into the appropriate URLs or is there a CONSTANT we need to manually update before building?

Example without a custom (managed package) namespace:
`https://na6.salesforce.com/services/apexres

[2018-02-21 11:23] cemerson commented on #175
FYI I think I answered my own question ([here](https://developer.salesforce.com/forums/?id=906F0000000DApiIAG)) ... so I'm good.

[2018-03-05 17:11] gabrieluy commented on #238
chippy i love you , you safe my life

[2018-03-05 21:24] chippy commented on #238
You're very welcome. I'm happy that I could help!

[2018-03-19 03:50] rajurh opened #287 "MVC - IsAuthentication and Logout issue"
I'm looking into the sample of WebServerOAuthFlow where on successful authentication i am getting a token but  Request.IsAuthenticated is coming has false. Now my question is through out the application if I want to check if application is authenticated how do i check because  Request.IsAuthenticated is coming has false.

Also can you please show the logic for logout functionality please?

[2018-03-21 05:38] masaab opened #288 "Getting Salesforce.Common.AuthenticationClient.<UsernamePasswordAsync>d__1.MoveNext()"
I am getting retry your request .Salesforce.Common.AuthenticationClient.<UsernamePasswordAsync>d__1.MoveNext()
This started happening from today. I have not clue. below is my code. It happens for my sandbox account.

 private async Task<AuthenticationClient> GetValidateAuthentication()
        {
            RestApiSetting data = new RestApiSetting(Configuration);
            var auth = new Authent

[2018-04-02 13:48] AlmasMahfooz commented on #271
@vonvillaruel I am also trying to find this dll, how can I have it?

[2018-04-02 15:49] vonvillaruel commented on #271
@AlmasMahfooz look for SFBulkAPIStarter package instead. I'm now using this to connect with Salesforce

[2018-04-03 09:27] AlmasMahfooz commented on #271
@vonvillaruel  thank but still I am confused. Like you I am also not a .Net developer.
I am Microsoft Dynamics GP Developer.I am confused with this toolkit idea. When we install Dynamics GP VSTool kit (it has it's setup) it gives us an interface by using which we leverage Dynamics GP functionalities. See screen shots below. And References show respective dlls in project.
![image](https://user-imag

[2018-04-03 11:09] dunxz commented on #250
+1

[2018-04-18 20:28] cemerson opened #289 "How to use UpdateAsync when CreateAsync not needed (so no "id" to use?)"
Sorry if this is obvious to others but all the examples I can find for UpdateAsync() have it called after a CreateAsync() returns an "id" from the SuccessResponse. My question is ... how can we call UpdateAsync() if we don't have an "id" to feed the "string recordId" parameter?

To clarify via code:
--> CreateAsync() always returns a SuccessResponse with an "id" value:
`Task<SuccessResponse> Creat

[2018-04-19 13:07] cemerson commented on #289
Closing my own issue. I was confusing my custom object's Autonumber "Id" field with Salesforce's global object "Id". So I now know which "recordId" to use in UpdateAsync (the Salesforce global object id).

[2018-04-19 13:07] #289 closed

[2018-04-25 21:33] crtjr64 opened #290 "1.4 Beta for a year?"
When I performed the normal install for this package it installed the 1.3 version and several methods didn't work. I wasn't until I lost a day of work, that I learned of the 1.4 beta version. After I installed that package, it worked and so did the Run Async methods... of course, this was after it made a liar out of me and I told my team lead that the methods weren't there... and of course, when w

[2018-04-26 08:50] kostaswonga opened #291 "How does one get the HttpStatusCode for a ExecuteRestApiAsync call?"
This seems to be missing after digging through the code in the repo. If it's possible let me know, eitherwise can we expose it?

[2018-05-02 11:27] cemerson commented on #246
Are we sure BulkConstants is in 1.4.0-beta? I've got that installed in my project but can't find/use BulkConstants, CreateJobAsync etc. However if I clone the latest master branch from github and reference it that way in my project i *DO* see it. Unfortunately for some reason when I reference the full code/branch this way my web app hangs on any Salesforce connection then so I can't use this metho

[2018-05-02 17:44] crtjr64 commented on #277
I didn't find it either... had to download the 1.4-beta version to get it... they never said a word and I'm currently dealing with issues of data size... thus far, 3k records is out the question, down to 100.

[2018-05-08 14:05] ARobsonAxco opened #292 "How to use CreateAsync when object contains apostrophe"
I keep getting an error when trying to use CreateAsync if the object being submitted contains a field eg LastName which contains an apostrophe.

How do I escape or encode the value using C# eg O'Malley?

Salesforce accepts the value O'Malley if I type it into the Salesforce web client directly.

The problem seems to be with the Force.com toolkit

[2018-05-08 15:51] ARobsonAxco commented on #292
My error. closing this

[2018-05-08 15:51] #292 closed

[2018-05-09 07:44] marcin-chwedczuk-cybervadis commented on #223
On my current project I had exactly the same need. When it comes to the query above, we have there  two kinds of query parameters: one kind is used to construct query (`fields` and `objectName`) and these should not be escaped and properly encoded, the second type (`id`) provides data to the query and should be properly escaped and encoded. I created a small at hoc library that uses dapper like in

[2018-05-14 11:10] ushah-apttus opened #293 ".Net Standard Support"
Is this library compatible with .net standard?

[2018-05-15 12:01] WazGettty opened #294 "Big Objects and Custom Objects"
I've made changes to accommodate 'Big Objects
- Made a net core version
- Fixed externalId's for Custom objects
- Reintroduced the CSV model for big objects

So is this still being updated?

[2018-06-10 15:53] v-rachen opened #296 "User Profile Photo"
How to set User Profile Photos using ChatterClient? I don't see any method to do that?

[2018-07-31 18:58] shanekenyon87 commented on #196
For .NET Core 2.0, this is a working csproj configuration (relevant sections):

[code]

[2018-07-31 19:13] mguinness commented on #196
@shanekenyon87 Thanks for posting.  Frankly SF doesn't seem invested in ASP.NET Core and the last publish was Jan 2017.  Maybe a maintainer would like to give an update or roadmap for support?

[2018-08-08 10:46] WazGettty commented on #196
@mguinness Agreed I've gone a way from this now as last update was a over a year ago. I've had to change to  .net core and include  big objects, so a roadmap would really help knowing if I'm left out on my own branch now.

[2018-08-15 05:00] Paul-Schroeder commented on #275
Wow...wow...wow, thanks David.  We too burned a lot of time on this one.  Your comment validated what I suspected.  Almost one year later and v1.4 remains in beta, but at least it fixed the issue!

[2018-08-15 13:03] wadewegner commented on #279
I'll start investing the time to see what I can do to make this compliant with both .NET (I haven't tracked for years) and the latest Salesforce requirements.

[2018-08-16 05:29] wadewegner commented on #293
Okay. I learned a lot today and, with the help of @shanselman and others, this repo is now targeting .NET Standard and .NET Core 2.0.

I haven't yet pushed updated NuGet packages but, for now, you can get all the goodness of these updates through the repo.

[2018-08-16 05:29] #293 closed

[2018-08-16 05:30] wadewegner commented on #196
I made significant updates and this SDK now targets .NET Standard 2 and .NET Core 2.

I haven't yet published update NuGet packages, but will soon. For now, you can get all the goodness by cloning the repo.

Thank you for your patience.

[2018-08-16 19:50] #296 closed

[2018-08-16 19:51] wadewegner commented on #294
I'd love to get a contribution for big objects. I recently ported everything to net core/standard, so feel free to send a PR.

[2018-08-16 19:51] #294 closed

[2018-08-16 19:55] wadewegner commented on #290
I'm sorry for the trouble.

At this point, I'm not going to release an update and promote 1.4. Instead, I'm planning to release a new 2.0.0 package that supports net core/standard.

[2018-08-16 19:55] #290 closed

[2018-08-16 19:56] wadewegner commented on #279
All the code has been ported to net core/standard. I will continue and push updated packages soon.

[2018-08-16 19:56] #279 closed

[2018-08-16 19:57] wadewegner commented on #275
Apologies.

I've already ported everything to net core/standard and will push new packages soon.

[2018-08-16 19:57] #275 closed

[2018-08-16 19:58] #271 closed

[2018-08-17 20:10] wadewegner commented on #287
I have removed those samples, as they were no longer working -- several generations old.

If you're having this problem, can you please share a specific code sample/use case?

I'm going to close. Please re-open if appropriate.

[2018-08-17 20:10] #287 closed

[2018-08-17 20:10] #286 closed

[2018-08-17 20:11] wadewegner commented on #285
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 20:11] #285 closed

[2018-08-17 20:12] wadewegner commented on #283
For what style of app? Can you give me a specific scenario?

Please feel free to re-open if this is still an important question.

[2018-08-17 20:12] #283 closed

[2018-08-17 20:12] wadewegner commented on #146
Is this still an issue? Please re-open if so.

[2018-08-17 20:12] #146 closed

[2018-08-17 20:13] wadewegner commented on #147
Is this still an issue? Please re-open if so.

[2018-08-17 20:13] #147 closed

[2018-08-17 20:13] wadewegner commented on #160
Is this still an issue? Please re-open if so.

[2018-08-17 20:13] #160 closed

[2018-08-17 20:13] wadewegner commented on #170
Is this still an issue? Please re-open if so.

[2018-08-17 20:13] #170 closed

[2018-08-17 20:13] wadewegner commented on #171
Is this still an issue? Please re-open if so.

[2018-08-17 20:13] #171 closed

[2018-08-17 20:13] wadewegner commented on #173
Is this still an issue? Please re-open if so.

[2018-08-17 20:13] #173 closed

[2018-08-17 20:14] wadewegner commented on #174
Is this still an issue? Please re-open if so.

[2018-08-17 20:14] #174 closed

[2018-08-17 20:14] wadewegner commented on #176
Is this still an issue? Please re-open if so.

[2018-08-17 20:14] #176 closed

[2018-08-17 20:14] wadewegner commented on #177
Is this still an issue? Please re-open if so.

[2018-08-17 20:14] #177 closed

[2018-08-17 22:45] wadewegner opened #301 "Update on this SDK"
As you've no doubt seen, I have not been able to work on this project for awhile. I apologize to all of you who have been impacted by issues that haven't been resolved. Moving forward, I'm committed to actively maintaining this project moving forward.

As such, here's my plan. Please feel free to provide feedback:

- I believe one of the reasons we haven't seen much activity is because this repo l

[2018-08-17 22:53] wadewegner commented on #186
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 22:53] #186 closed

[2018-08-17 22:53] wadewegner commented on #187
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 22:53] #187 closed

[2018-08-17 22:54] wadewegner commented on #190
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 22:54] #190 closed

[2018-08-17 22:54] wadewegner commented on #194
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 22:54] #194 closed

[2018-08-17 22:55] wadewegner commented on #206
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 22:55] #206 closed

[2018-08-17 23:06] wadewegner opened #302 "Rename the "DeveloperForce" namespace"
One thing I never liked about this project was the need to use `DeveloperForce.Force` as the namespace and the name in the NuGet package. Other ideas?

- `Salesforce.Force`: concerned that it's not only not officially supported by Salesforce but "Force.com" is technically no longer a thing.

- `Salesforce.Lightning`: meh, doesn't feel right to me.

- `WadeWegner.X`: not sure I want to have my name

[2018-08-17 23:08] wadewegner commented on #282
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:08] #282 closed

[2018-08-17 23:08] wadewegner commented on #253
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:08] #253 closed

[2018-08-17 23:08] wadewegner commented on #280
The next release will include.

[2018-08-17 23:08] #280 closed

[2018-08-17 23:08] wadewegner commented on #278
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:08] #278 closed

[2018-08-17 23:09] wadewegner commented on #274
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:09] #274 closed

[2018-08-17 23:09] wadewegner commented on #277
Sorry, bulk will be in the next public release.

[2018-08-17 23:09] #277 closed

[2018-08-17 23:09] wadewegner commented on #276
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:09] #276 closed

[2018-08-17 23:10] wadewegner commented on #272
I'm open to contributions.

[2018-08-17 23:10] #272 closed

[2018-08-17 23:10] wadewegner commented on #267
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:10] #267 closed

[2018-08-17 23:10] wadewegner commented on #266
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:10] #266 closed

[2018-08-17 23:10] wadewegner commented on #265
I've recently moved to .NET Standard 2.0.

[2018-08-17 23:10] #265 closed

[2018-08-17 23:12] wadewegner commented on #262
There were issues with the PCLs and including `ServicePointManager`. I'm hopeful that .NET Standard 2.0 will resolve this. I haven't investigated, but if I could move this into the `AuthenticationClient` itself it would be a big win.

[2018-08-17 23:13] wadewegner commented on #256
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:13] #256 closed

[2018-08-17 23:13] wadewegner commented on #252
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:13] #252 closed

[2018-08-17 23:13] wadewegner commented on #249
It's working now. Moving forward I'll do better.

[2018-08-17 23:13] #249 closed

[2018-08-17 23:14] wadewegner commented on #246
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:14] #246 closed

[2018-08-17 23:14] wadewegner commented on #245
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:14] #245 closed

[2018-08-17 23:31] wadewegner commented on #241
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:31] #241 closed

[2018-08-17 23:31] #240 closed

[2018-08-17 23:32] #235 closed

[2018-08-17 23:32] wadewegner commented on #232
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:32] #232 closed

[2018-08-17 23:33] wadewegner commented on #229
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:33] #229 closed

[2018-08-17 23:33] wadewegner commented on #227
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:33] #227 closed

[2018-08-17 23:34] wadewegner commented on #222
I'd love someone to contribute an enhancement here.

[2018-08-17 23:35] wadewegner commented on #226
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:35] #226 closed

[2018-08-17 23:40] wadewegner commented on #221
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:40] #221 closed

[2018-08-17 23:48] wadewegner commented on #215
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:48] #215 closed

[2018-08-17 23:54] wadewegner commented on #214
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-17 23:54] #214 closed

[2018-08-18 18:26] TJSoftware commented on #227
I don't recall all the details, but I know that I made my own branch of this. I then updated for the call to use TLS 1.1. I also updated everything to use async calls. I would need to rebuild everything I did as I do not work at the place I used this any more. Sorry for the hanging bug.

[2018-08-19 15:57] robertmclaws commented on #301
Hey Wade, great to see this repo is coming back to life! I'd be happy to have my company (@cloudnimble) provide support for this project, whether that be repo space, use of our VSTS for build & deployment, or whatever.

Having used the codebase extensively on other projects, I think there is room to make the system more useful with Salesforce accounts, whether they are customized or not.

- I thin

[2018-08-19 18:41] jayonsoftware commented on #301
Thanks, @wadewegner for this, I know you are still a C# guy at heart :-) . I have been using your library as part of the ApexSharp project (https://github.com/apexsharp) .

[2018-08-20 14:04] wadewegner commented on #301
@robertmclaws @johntrenwith I really appreciate your ideas and would love to make progress on them with you.

[2018-08-20 14:31] wadewegner commented on #213
If this is still an issue (see latest updates to code) please re-open with more specifics.

[2018-08-20 14:31] #213 closed

[2018-08-20 14:37] wadewegner commented on #211
Updated: https://github.com/developerforce/Force.com-Toolkit-for-NET/commit/d9f3e183e14f4fb3e33f922f88a76a0c3498cc13

[2018-08-20 14:37] #211 closed

[2018-08-20 14:45] wadewegner commented on #222
@robertmclaws Is this something you'd be willing to contribute? I agree with you and I'd love to see this resolved.

[2018-08-20 16:05] dcinzona commented on #301
Is there a feature / functionality list to be able to ensure parity if a clean rewrite of this SDK is warranted?

[2018-08-20 17:28] wadewegner commented on #301
@dcinzona The plan is not a clean re-write. As you can see, we're working with the existing code and libraries, just updating them so they're modern and work with the latest SDKs and frameworks.

[2018-08-20 17:44] robertmclaws commented on #222
Sure I'm happy to help figure it out.

[2018-08-21 19:55] wadewegner commented on #216
It is public already. Not sure if this changed since you requested it. Please let me know if you have any other questions.

[2018-08-21 19:55] #216 closed

[2018-08-21 20:03] wadewegner commented on #179
Resolved and included in #204.

[2018-08-21 20:03] #179 closed

[2018-08-21 20:12] wadewegner commented on #209
Merged https://github.com/developerforce/Force.com-Toolkit-for-NET/pull/210. Thanks.

[2018-08-21 20:12] #209 closed

[2018-08-21 22:40] ticarson opened #306 "Unable to Install DeveloperForce.Force Nuget Package"
Hello,
I am having a heck of time installing the DeveloperForce.Force nuget package into my VStudio 2013 project. I am a newbie to Salesforce trying to create a lead from some of our internal data. I am getting the following error:

Installing 'DeveloperForce.Force 2.0.4'. Successfully installed 'DeveloperForce.Force 2.0.4'. Adding 'DeveloperForce.Force 2.0.4' to SalesForcePlayGround. Uninstalling